
<h1>Serie TV</h1>
<!-- controlliamo se esistono liste -->
<#if (series?size > 0)>
<!-- se esistono stampiamole tutte -->
<#list series as s>
<div class="series box">
    <div class="series description">
        <p>${s.name}</p>
        <p class="link series"><a href="SchedaSerie?id=${s.ID}">Vai alla scheda dettagliata</a></p>
    </div>
</div>
</#list>
<#else>
<!-- altrimenti diciamo che non sono ancora presenti news -->
<div>
    <p>Purtroppo non sono ancora state aggiunte Serie TV.</p>
</div>
</#if>
