
<div id="formLogIn">
    <form action="SalvaUtente" method="POST">
        <label for="username">Username:</label>
        <input type ="text" id="username" name ="username"/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
        <!--
        <label for="confermaPassword"> Conferma la Password:</label>
        <input type="password" id="confermaPassword" name="confermaPassword" />
        <label for="email">E-Mail:</label>
        <input type="text" id="email" name="email" />
        -->
        <button type="submit">Invia</button>
    </form>
</div>
