
<!-- NEWS
============================================================================================== -->
<div id="newsCard">
    <h1 class='newstitle'>${strip_slashes(news.title)?html}</h1>

    <div class="newsImgContainer">
        <img src="${strip_slashes(news.imageURL)}" alt="Immagine ${strip_slashes(news.title)?html}"/>
    </div>

    <p id="newsText">${strip_slashes(news.text)?html}</p>

    <div class="footer">
        <div class="tag left">
            <!-- QUI?? -->
        </div>
        <div class="right">
            <div class="authorAndDate">
                <p>${strip_slashes(news.user.username)?html}</p>
            </div>
            <div class="likeAndDislike">
                <p>
                    <a href='?ln=${news.ID}'><span class="like" data-icon="&#xe0dd;">${strip_slashes(news.likes)?html}</span></a>
                    <a href='?dn=${news.ID}'><span class="dislike" data-icon="&#xe0f1;">${strip_slashes(news.dislikes)?html}</span></a>
                </p>
            </div>
        </div>
    </div>





    <!-- COMMENTI 
    ============================================================================================== -->
    <h2>Commenti</h2>
    <!-- Controllo se esistono Commenti per questa serie -->
    <#if (news.comments?size > 0)>
    <div id="commentsList">
        <!-- se esistono stampiamoli tutti -->
        <#list news.comments as c>
        <div class="comment row">
            <div class="imgContainer two columns">
                <#if c.user.imageURL??>
                <img src="${strip_slashes(c.user.imageURL)}" alt="User avatar"/>
                <#else>
                <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" alt="User avatar placeholder"/>
                </#if>
            </div>
            <div class="notImgContainer fourteen columns">
                <div class="header">
                    <h1>${strip_slashes(c.title)?html}</h1>
                </div>
                <div class="body">
                    <p>${strip_slashes(c.text)?html}</p>
                </div>
                <div class="footer">
                    <div class="left">
                        <p>${strip_slashes(c.user.username)?html}, ${c.date?datetime} </p>
                    </div>
                    <div class="right">
                        <p>
                            <a href='?lc=${c.ID}&amp;n=${news.ID}'><span class="like" data-icon="&#xe0dd;">${strip_slashes(c.likes)?html}</span></a>
                            <a href='?dc=${c.ID}&amp;n=${news.ID}'><span class="dislike" data-icon="&#xe0f1;">${strip_slashes(c.dislikes)?html}</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>    
        </#list>
    </div>
    </#if> <!-- FINE STAMPA DEI COMMENTI -->


    <!-- INSERISCI IL TUO COMMENTO
    ============================================================================================== -->
    <div class="insertAComment formContainer">
        <form action="SchedaNews" method="POST" id="newsCommentForm" class="commentForm row">
            <input type="hidden" name="nid" value="${news.ID}"/>
            <input name="commentTitle" type="text" id="newsCommentTitle" class="titleCommentForm row" maxlength="60" placeholder="Titolo commento" required="required">
            <textarea name="commentText" id="newsCommentText" class="textCommentForm row" rows="10" placeholder="Inserisci qui il tuo commento..." required="required" ></textarea>
            <button type="submit" name="ncs" value="1">Commenta</button>
        </form>
    </div>

</div>