
<div id="seriesCircle">
    <!-- IMMAGINE SERIE
    ============================================================================================== -->

    <div class="imgSeriesContainer">
        <h1>${strip_slashes(series.name)?html}</h1>
        <img src="${strip_slashes(series.imageURL)}" alt="Immagine ${strip_slashes(series.name)?html}"/>
    </div>

    <!-- MESSAGGI CERCHIA
    ============================================================================================== -->
    <!-- Controllo se esistono Messaggi per questa serie -->
    <#if (messages?size > 0)>
    <div id="commentsList">
        <!-- se esistono stampiamoli tutti -->
        <#list messages as m>
        <#if (previousLastCommentIndex?? && (m_index == previousLastCommentIndex)) >
        <div id="plc" class="comment row">
            <#else>
            <div class="comment row">
                </#if>
                <div class="imgContainer two columns">
                    <#if m.user.imageURL??>
                    <img src="${strip_slashes(m.user.imageURL)}" alt="User avatar"/>
                    <#else>
                    <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" alt="User Avatar placeholder"/>
                    </#if>
                </div>
                <div class="notImgContainer fourteen columns">
                    <div class="header">
                        <h1>${strip_slashes(m.title)?html}</h1>
                    </div>
                    <div class="body">
                        <p>${strip_slashes(m.text)?html}</p>
                    </div>
                    <div class="footer">
                        <div class="right">
                            <p>${strip_slashes(m.user.username)?html}, ${m.date?string("dd/MM/yyyy HH:mm")} </p>
                        </div>
                    </div>
                </div>
            </div>    
            </#list>




            <#if (totalPages?? && currentPage?? && ( totalPages > currentPage ))>
            <div class='row moreComments'>
                <a href='?id=${series.ID}&amp;page=${currentPage + 1}#plc'>Altri commenti</a>
            </div>
            </#if>

        </div>
        </#if> <!-- FINE STAMPA DEI MESSAGGI -->

        <!-- INSERISCI IL TUO MESSAGGIO
    ============================================================================================== -->
        <div class="insertAMessage formContainer">
            <form action="CerchiaSerie" method="POST">
                <input type="hidden" name="sid" value="${series.ID}"/>
                <div class='row'>
                    <input name="messageTitle" type="text" maxlength="60" placeholder="Titolo messaggio" required="required">
                </div>
                <div class='row'>
                    <textarea name="messageText" rows="10" placeholder="Inserisci qui il tuo messaggio..." required="required" ></textarea>
                </div>
                <button type="submit" name="scms" value="1">Commenta</button>
            </form>
        </div>

    </div><!-- FINE #seriesCircle -->
