
<!-- SERIE TV 
============================================================================================== -->
<div id="seriesCard">


    <div class="imgSeriesContainer">
        <h1>${series.name}</h1>
        <img src="${strip_slashes(series.imageURL)}" alt="Immagine ${strip_slashes(series.name)?html}"/>
        <div id="seriesRate">
            <!-- QUI È UNA COSA CONDIZIONALE -.-" -->
        </div>
    </div>

    <div id="buttons">
        <a href="?n=${series.ID}">Vai alle news della serie</a>
        <a href="?g=${series.ID}">Cerca serie simili</a>
        <#if user?? && favourite?? && favourite>
        <a href="?d=${series.ID}">Rimuovi questa serie dalle preferite</a>
        <a href="CerchiaSerie?id=${series.ID}" class="fullPage">Vai alla cerchia</a>
        <#else>
        <a href="?a=${series.ID}">Aggiungi tra le preferite</a>
        </#if>
    </div>

    <h2>Trama</h2>

    <p id="seriesDescription">${strip_slashes(series.description)?html}</p>

    <h2>Generi</h2>
    <#if (series.genres?size > 0)>
    <div class='row'>
        <ul id='genreList' >
            <#list series.genres as g>
            <li>${strip_slashes(g.name)?html}</li>
            </#list>
        </ul>
    </div>
    </#if>


    <h2>Episodi</h2>
    <!-- Controllo se esistono stagioni per questa serie -->
    <#if (seasons?size > 0)>
    <div id="seasonList" class="accordion">
        <!-- se esistono stampiamole tutte -->
        <#list seasons as s>
        <!-- Controllo se esistono episodi per questa stagione -->
        <#if (s.episodes?size > 0)>
        <div id="Stagione${strip_slashes(s.number)?html}" class="season accordionSection">
            <h3 class="accordionSectionTitle"><a href="#Stagione${strip_slashes(s.number)?html}">Stagione ${strip_slashes(s.number)?html}</a></h3>
            <!-- se esistono stampiamoli tutti -->
            <#list s.episodes as e>
            <div class="episode accordionContent">
                <h4>Episodio ${strip_slashes(e.number)?html}: ${strip_slashes(e.title)?html}</h4>
                <p>${strip_slashes(e.description)?html}</p>
            </div>
            </#list>
        </div>
        <#else>
        <!-- altrimenti diciamo che la stagione non ha episodi -->
        <div>
            <p>Purtroppo questa stagione non ha ancora episodi.</p>
        </div>
        </#if>
        </#list>
    </div>
    </#if> <!-- FINE STAMPA DELLE STAGIONI -->



    <h2>Cast</h2>
    <!-- Controllo se esistono stagioni per questa serie -->
    <#if (series.castMemberSeries?size > 0)>
    <div id="castList" class="accordion row">
        <!-- se esistono stampiamole tutte -->
        <#list series.castMemberSeries as cms>
        <div class='castMember row'>
            <div class="imgContainer two columns">
                <#if cms.castMember.imageURL??>
                <img src="${strip_slashes(cms.castMember.imageURL)}" alt="Immagine di ${strip_slashes(cms.castMember.surname)?html} ${strip_slashes(cms.castMember.name)?html}"/>
                <#else>
                <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" alt="Placeholder immagine membro del cast"/>
                </#if>
            </div>
            <div class="notImgContainer fourteen columns">
                <h3>${strip_slashes(cms.castMember.surname)?html} ${strip_slashes(cms.castMember.name)?html}</h3>
                <p>${strip_slashes(cms.role)?html}</p>
            </div>
        </div>
        </#list>
    </div>
    </#if>


    <!-- COMMENTI 
    ============================================================================================== -->
    <h2>Commenti</h2>
    <!-- Controllo se esistono Commenti per questa serie -->
    <#if (series.comments?size > 0)>
    <div id="commentsList">
        <!-- se esistono stampiamoli tutti -->
        <#list series.comments as c>
        <div class="comment row">
            <div class="imgContainer two columns">
                <#if c.user.imageURL??>
                <img src="${strip_slashes(c.user.imageURL)}" alt="User avatar"/>
                <#else>
                <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" alt="User Avatar placeholder"/>
                </#if>
            </div>
            <div class="notImgContainer fourteen columns">
                <div class="header">
                    <h1>${strip_slashes(c.title)?html}</h1>
                </div>
                <div class="body">
                    <p>${strip_slashes(c.text)?html}</p>
                </div>
                <div class="footer">
                    <div class="left">
                        <p>${strip_slashes(c.user.username)?html}, ${c.date?datetime} </p>
                    </div>
                    <div class="right">
                        <p>
                            <a href='?lc=${c.ID}&amp;s=${series.ID}'><span class="like" data-icon="&#xe0dd;">${strip_slashes(c.likes)?html}</span></a>
                            <a href='?dc=${c.ID}&amp;s=${series.ID}'><span class="dislike" data-icon="&#xe0f1;">${strip_slashes(c.dislikes)?html}</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>    
        </#list>
    </div>
    </#if> <!-- FINE STAMPA DEI COMMENTI -->
</div>
<!-- INSERISCI IL TUO COMMENTO
============================================================================================== -->
<div class="insertAComment">
    <form action="SchedaSerie" method="POST" id="seriesCommentForm" class="commentForm row">
        <input type="hidden" name="sid" value="${series.ID}"/>
        <input name="commentTitle" type="text" id="seriesCommentTitle" class="titleCommentForm row" maxlength="60" placeholder="Titolo commento" required="required">
        <textarea name="commentText" id="seriesCommentText" class="textCommentForm row" rows="10" placeholder="Inserisci qui il tuo commento..." required="required" ></textarea>
        <button type="submit" name="scs" value="1">Commenta</button>
    </form>
</div>
