
<div id="seriesCircle">
    <!-- IMMAGINE SERIE
    ============================================================================================== -->

    <div class="imgSeriesContainer">
        <h1>${strip_slashes(series.name)?html}</h1>
        <img src="${strip_slashes(series.imageURL)}" alt="Immagine ${strip_slashes(series.name)?html}"/>
    </div>

    <!-- MESSAGGI CERCHIA
    ============================================================================================== -->
    <!-- Controllo se esistono Messaggi per questa serie -->
    <#if (series.messages?size > 0)>
    <div id="commentsList">
        <!-- se esistono stampiamoli tutti -->
        <#list series.messages as m>
        <div class="comment row">
            <div class="imgContainer two columns">
                <#if m.user.imageURL??>
                <img src="${strip_slashes(m.user.imageURL)}" alt="User avatar"/>
                <#else>
                <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" alt="User Avatar placeholder"/>
                </#if>
            </div>
            <div class="notImgContainer fourteen columns">
                <div class="header">
                    <h1>${strip_slashes(m.title)?html}</h1>
                </div>
                <div class="body">
                    <p>${strip_slashes(m.text)?html}</p>
                </div>
                <div class="footer">
                    <div class="right">
                        <p>${strip_slashes(m.user.username)?html}, ${strip_slashes(m.date)?html} </p>
                    </div>
                </div>
            </div>
        </div>    
        </#list>
    </div>
    <#else>
    <!-- altrimenti diciamo che la serie non ha messaggi -->
    <div>
        <p>Purtroppo questa serie TV non ha ancora messaggi.</p>
    </div>
    </#if> <!-- FINE STAMPA DEI MESSAGGI -->

    <!-- INSERISCI IL TUO MESSAGGIO
============================================================================================== -->
    <div class="insertAMessage">
        <h1>Invia un messaggio</h1>
        <form action="CerchiaSerie" method="POST" id="seriesCirleMessageForm" class="messageForm row">
            <input type="hidden" name="sid" value="${series.ID}"/>
            <input name="messageTitle" type="text" id="seriesCircleMessageTitle" class="titleMessageForm row" maxlength="60" placeholder="Titolo messaggio" required="required">
            <textarea name="messageText" id="seriesCircelMessageText" class="textMessageForm row" rows="10" placeholder="Inserisci qui il tuo messaggio..." required="required" ></textarea>
            <button type="submit" name="scms" value="1">Commenta</button>
        </form>
    </div>

</div><!-- FINE #seriesCircle -->
