
<!-- SERIE TV 
============================================================================================== -->
<div id="seriesCard">


    <div class="imgContainer">
        <h1>${series.name}</h1>
        <img src="${series.imageURL}" alt="Immagine ${series.name}"/>
        <div id="seriesRate">
            <!-- QUI È UNA COSA CONDIZIONALE -.-" -->
        </div>
    </div>

    <div id="buttons">
        <a href="#">Aggiungi tra le preferite</a>
        <!-- <a>Rimuovi questa serie dalle preferite</a> -->
        <a href="#">Vai alle news della serie</a>
        <a href="#">Cerca serie simili</a>
    </div>

    <h2>Trama</h2>

    <p id="seriesDescription">${series.description}</p>

    <!-- Controllo se esistono stagioni per questa serie -->
    <#if (seasons?size > 0)>
    <div id="seasonList" class="accordion">
        <!-- se esistono stampiamole tutte -->
        <#list seasons as s>
        <!-- Controllo se esistono episodi per questa stagione -->
        <#if (s.episodes?size > 0)>
        <div id="Stagione${s.number}" class="season accordionSection">
            <h3 class="accordionSectionTitle"><a href="#Stagione${s.number}">Stagione ${s.number}</a></h3>
            <!-- se esistono stampiamoli tutti -->
            <#list s.episodes as e>
            <div class="episode accordionContent">
                <h4>Episodio ${e.number}: ${e.title}</h4>
                <p>${e.description}</p>
            </div>
            </#list>
        </div>
        <#else>
        <!-- altrimenti diciamo che la stagione non ha episodi -->
        <div>
            <p>Purtroppo questa stagione non ha ancora episodi.</p>
        </div>
        </#if>
        </#list>
    </div>
    <#else>
    <!-- altrimenti diciamo che la serie non ha stagioni -->
    <div>
        <p>Purtroppo questa serie TV non ha ancora stagioni.</p>
    </div>
    </#if> <!-- FINE STAMPA DELLE STAGIONI -->
</div>

<!-- COMMENTI 
============================================================================================== -->
<!-- Controllo se esistono Commenti per questa serie -->
<#if (series.comments?size > 0)>
<div id="commentsList">
    <!-- se esistono stampiamoli tutti -->
    <#list series.comments as c>
    <div class="comment row">
        <div class="imgContainer two columns">
            <#if c.user.imageURL??>
            <img src="${c.user.imageURL}" alt="User avatar"/>
            <#else>
            <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" alt="Immagine ${series.name}"/>
            </#if>
        </div>
        <div class="notImgContainer fourteen columns">
            <div class="header">
                <h1>${c.title}</h1>
            </div>
            <div class="body">
                <p>${c.text}</p>
            </div>
            <div class="footer">
                <div class="left">
                    <p>${c.user.username}, ${c.date ?datetime} </p>
                </div>
                <div class="body">
                    <p>${c.text}</p>
                </div>
                <div class="footer">
                    <div class="left">
                        <p>${c.user.username}, ${c.date}</p>
                    </div>
                    <div class="right">
                        <p>
                            <span class="like" data-icon="&#xe0dd;">${c.likes}</span>
                            <span class="dislike" data-icon="&#xe0f1;">${c.dislikes}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>    
        </#list>
        <#else>
        <!-- altrimenti diciamo che la serie non ha commenti -->
        <div>
            <p>Purtroppo questa serie TV non ha ancora commenti.</p>
        </div>
    </div>    
    </#list>
</div>
<#else>
<!-- altrimenti diciamo che la serie non ha commenti -->
<div>
    <p>Purtroppo questa serie TV non ha ancora commenti.</p>
</div>
</#if> <!-- FINE STAMPA DEI COMMENTI -->

