<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>REST</title>
        <link rel="stylesheet" href="css/reset.css" type="text/css"/>
        <link rel="stylesheet" href="css/grid.css" type="text/css"/>
        <link rel="stylesheet" href="lib/ElegantFonts/ElegantFonts.css" type="text/css"/>
        <link rel="stylesheet" href="css/provando_SASS.css" type="text/css"/>
    </head>

    <body>
        <div id="formSignUp">
            <form action="Signup" method="POST">
                <div class="row">
                    <label for="username">Username:</label>
                    <input type ="text" id="username" name ="username"/>
                </div>
                <div class="row">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"/>
                </div>
                <div class="row">
                    <label for="confermaPassword"> Conferma la Password:</label>
                    <input type="password" id="confermaPassword" name="confermaPassword" />
                </div>
                <div class="row">
                    <label for="email">E-Mail:</label>
                    <input type="email" id="email" name="email" />
                </div>
                <button type="submit">Invia</button>
            </form>
        </div>

    </body>

</html>