/* VARIABILI
=============================================================================================== */

/* colori palette */
$orange: #EB7F00;
$white: #F3FFE2;
$skyBlue: #ACF0F2;
$turquoise: #1695A3; /* rgba(22, 149, 163, 1) */
$blue: #225378;

$primaryTextColor: #444444;
$secondaryTextColor: #999999;


/* altro */
$topBarHeight: 50px;


/* MIXINS
=============================================================================================== */
@mixin transition($property, $time){
    transition: $property $time ease-in-out;
    -webkit-transition: $property $time ease-in-out;
    -moz-transition: $property $time ease-in-out;
}

@mixin transform($string){
    -webkit-transform: $string;
    -moz-transform: $string;
    transform: $string;
}

@mixin borderRadius($value){
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
}

@mixin boxShadow($x, $y, $blur, $color){
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}


/* ANIMAZIONI
=============================================================================================== */



/* FONT
=============================================================================================== */
@font-face{
    font-family: 'OpenSans';
    src: url(../font/OpenSans-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'Lato';
    src: url(../font/Lato-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'Laila';
    src: url(../font/Laila-Regular.ttf) format('truetype');
}

/* REGOLE DI STILE
===============================================================================================
=============================================================================================== */

/* ogni selezione ha sfondo turchese e colore bianco */
::selection{ 
    color: #FFFFFF;  
    background: $turquoise; 
} 

::-moz-selection { 
    color: #FFFFFF;  
    background: $turquoise; 
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input:focus, select:focus{
    outline: none;
}


/* per far capire all'utente se ciò che ha scritto è valido: fa match con il pattern */
input:valid{

    & ~ span.formValidInput{
        display: inline-block;
        color: green;
    }

    & ~ span.formInvalidInput{
        display: none;
    }
}

input:invalid{
    @include boxShadow(0, 0, 0, transparent); /* per annullare il default dello user agent */

    & ~ span.formInvalidInput{
        display: inline-block;
        color: #cc0000;
    }

    & ~ span.formValidInput{
        display: none;
    }
}

.formInput{
    position: relative;

    .formValidInput, .formInvalidInput{
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 1.7rem;
    }
}

/* per tutti qugli elementi da centrare verticalmente in mezzo al vuoto */
.verticalCenter{

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }


}

html, body{
    font-family: OpenSans, Verdana, Arial, Helvetica; /* più in là inserire web font e gestire la tipografia in generale */
    font-size: 10px;
    background: #FFFFFF;
    height: 100%;
}

a{
    text-decoration: none;
    color: $turquoise;
    @include transition(color, 0.3s);

    &:hover{
        color: $orange;
        @include transition(color, 0.3s);
    }

    &:before{
        color: $turquoise;
        @include transition(color, 0.3s);
    }

    &:before:hover{
        @include transition(color, 0.3s);
    }
}

button{
    border: none;
    background-color: $turquoise;
    color: #FFFFFF;
    cursor: pointer;
    @include transition(background-color, 0.3s);

    &:hover{
        background-color: $orange;
    }
}

.insertAComment, .insertAMessage{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
}

/* FORM
=============================================================================================== */
.formContainer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    form{

        fieldset{
            border-top: 1px solid rgba(22, 149, 163, 0.4);
            padding: 20px 0;
            margin-bottom: 10px;

            legend{
                padding: 0 5px;
                font-size: 1.4rem;
                color: $secondaryTextColor;
            }
        }

        input[type="text"], input[type="url"], input[type="password"], input[type="email"]{
            width: 100%;
            border: 1px solid $turquoise;
            outline: none;
            font-size: 2rem;
            color: $turquoise;
            @include borderRadius(4px);
            padding: 10px 20px;
        }

        input[type="checkbox"]{
            position: absolute;
            left: -9999px;

            & + label{
                position: relative;
                cursor: pointer;
                font-size: 1.5rem;
            }

            &:checked + label:before{
                font-family: 'ElegantIcons';
                content: '\5a';
                margin-right: 10px;
                position: relative;
                top: 5px;
                font-size: 2.5rem;
                color: $turquoise;
            }

            &:not(:checked) + label:before{
                font-family: 'ElegantIcons';
                content: '\56';
                margin-right: 10px;
                position: relative;
                top: 5px;
                font-size: 2.5rem;
                color: $turquoise;
            }
        }

        input[type="radio"]{

            position: absolute;
            left: -9999px;

            & + label{
                position: relative;
                cursor: pointer;
                font-size: 1.5rem;
            }

            &:checked + label:before{
                font-family: 'ElegantIcons';
                content: '\5c';
                margin-right: 10px;
                position: relative;
                top: 5px;
                font-size: 2.5rem;
                color: $turquoise;
            }

            &:not(:checked) + label:before{
                font-family: 'ElegantIcons';
                content: '\5b';
                margin-right: 10px;
                position: relative;
                top: 5px;
                font-size: 2.5rem;
                color: $turquoise;
            }
        }

        textarea{
            display: block;
            margin: 0 auto 25px auto;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            border: 1px solid $turquoise;
            padding: 10px 15px;
            font-size: 1.6rem;
            color: $primaryTextColor;
            @include borderRadius(10px);
        }

        .selectContainer{
            padding-left: 0;
            position: relative;

            &.singleSelection{
                width: 80%;
                overflow: hidden;

                &:after{
                    position: absolute;
                    right: 0;
                    top: 0;
                    line-height: 2; /* per piazzarla al centro verticalmente */
                    color: $turquoise;
                    border-right: 1px solid $turquoise;
                    font-family: 'ElegantIcons';
                    font-size: 1.5rem;
                    content: '\43';
                    pointer-events: none; /* per far aprire la select anche cliccando sulla freccia */
                }

                select{
                    padding: 5px;
                    @include borderRadius(5px);
                    border: 1px solid $turquoise;
                    width: 120%; /* in questo modo facciamo sforare la freccia della select che viene tagliata da overflow: hidden */
                    cursor: pointer;
                }

                optgroup{
                    width: 99%;
                    border-right: 1px solid black;
                }
            }

            &.multipleSelection{
                width: 100%;

                select{
                    border: 1px solid $turquoise;
                    width: 100%;

                    optgroup{
                        color: $turquoise;

                        option{ /* su chrome non funziona */
                            color: #000000;
                            padding: 3px 4px; 

                            &:before{
                                font-family: 'ElegantIcons';
                                content: "\4e";
                                color: #FFFFFF;
                                margin-right: 5px;
                                opacity: 0;
                                @include transition(opacity, 0.3s);
                            }

                            &:checked{

                                &:before{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

            }
        }

        button{
            margin-top: 30px;
            width: 100%;
            padding: 15px 0;
            font-size: 2rem;
        }
    }
}

/* SLIDER
=============================================================================================== */
#slider{
    margin: 60px 0 90px 0;
    width: 100%;

    #slideshow-wrap {
        display: block;
        height: 320px;
        min-width: 260px;
        max-width: 640px;
        margin: auto;
        border: 6px solid #FFFFFF;
        @include boxShadow(0px, 0px, 5px, $turquoise);
        position: relative;

        input[type=radio] {
            position: absolute;
            left: 50%;
            bottom: 15px;
            z-index: 100;
            visibility: hidden;

            /* coloro i le label ( che fingono da radio button ) nel momento in cui il radio button è attivo */
            &#button-1:checked~label[for=button-1],
                &#button-2:checked~label[for=button-2],
                &#button-3:checked~label[for=button-3],
                &#button-4:checked~label[for=button-4],
                &#button-5:checked~label[for=button-5]{ 
                background-color: $orange; 
                @include boxShadow(0px, 0px, 3px, $orange);}

            /* sposto la lista a seconda dell'immagine che scelgo: */
            /* immagine 1: left: 0 ( in questo modo si visualizza l'immagine 1 ) */
            /* immagine 1: left: -100% ( in questo modo si visualizza l'immagine 2 ) */
            /* etc. */
            &#button-1:checked~#slideshow-inner>ul { left: 0;}
            &#button-2:checked~#slideshow-inner>ul { left: -100%; }
            &#button-3:checked~#slideshow-inner>ul { left: -200%; }
            &#button-4:checked~#slideshow-inner>ul { left: -300%; }
            &#button-5:checked~#slideshow-inner>ul { left: -400%; }

            /* al click sul bottone compare la giusta freccia a destra */
            /* bottone1/fraccia1 -> freccia2 */
            /* bottone2/freccia2 -> freccia3 */
            /* bottone3/freccia3 -> freccia4 */
            /* bottone4/freccia4 -> freccia5 */
            &#button-1:checked~.arrows#arrow-2, 
                &#button-2:checked~.arrows#arrow-3, 
                &#button-3:checked~.arrows#arrow-4, 
                &#button-4:checked~.arrows#arrow-5 {
                right: -55px;
                display: block;
            }

            /* al click sul bottone compare la giusta freccia a sinistra */
            /* bottone2/fraccia2 -> freccia1 */
            /* bottone3/freccia3 -> freccia2 */
            /* bottone4/freccia4 -> freccia3 */
            /* bottone5/freccia5 -> freccia4 */
            &#button-2:checked~.arrows#arrow-1, 
                &#button-3:checked~.arrows#arrow-2, 
                &#button-4:checked~.arrows#arrow-3, 
                &#button-5:checked~.arrows#arrow-4 {
                left: -55px;
                display: block;
                @include transform(scale(-1));

            }

            /* per fixare la posizione della freccia sinistra */
            &#button-2:checked~.arrows#arrow-1 { left: -19px }
            &#button-3:checked~.arrows#arrow-2 { left: -37px }
            &#button-5:checked~.arrows#arrow-4 { left: -73px }

        }

        /* i finti radio button */
        label:not(.arrows) {
            position: absolute;
            left: 50%;
            bottom: -45px;
            z-index: 100;
            width: 12px;
            height: 12px;
            background: $turquoise;
            @include borderRadius(50%);
            @include transition(background, 0.2s);
            cursor: pointer;

            &:active { bottom: -46px; }
        }

        /* posiziono orizzontalmente le label */
        label[for=button-1] { margin-left: -36px; }
        label[for=button-2] { margin-left: -18px; }
        label[for=button-4] { margin-left: 18px; }
        label[for=button-5] { margin-left: 36px; }

        #slideshow-inner {
            width: 100%;
            height: 100%;
            background: transparent url('../img/placeholder.jpg') no-repeat;
            background-size: cover;
            overflow: hidden;
            position: relative;

            ul {
                list-style: none;
                height: 100%;
                width: 500%; /* perchè la lista contiene 5 immagini, se ne contenesse 7 avrei messo 700% */
                overflow: hidden;
                position: relative;
                left: 0px; /* la posiziono alla prima immagine */
                @include transition(left, 0.8s);
                -webkit-animation: slide infinite alternate 60s ease;

                li {
                    width: 20%; /* 20% perché la width totale era il 500%, quindi viene il 100%. ma se fosse stata del 1000% (cioè 10 immagini) qui ci andava 10%*/
                    height: 320px;
                    float: left; /* così le immagini sono affiancate */
                    position: relative;

                    img {
                        margin: auto;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        /* le frecce per scorrere le immagini dello slider */
        label.arrows {
            font-size: 5rem;
            color: $turquoise;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            display: none;
            opacity: 0.7;
            cursor: pointer;
            z-index: 1000;
            background-color: transparent;
            @include transition(opacity, 0.2s);
            text-shadow: 0px 0px 3px $turquoise;

            &:hover { opacity: 1 }

            &:active { margin-top: -23px }
        }
    }
}

/* ACCORDION
=============================================================================================== */
.accordion{
    overflow: hidden;
    padding: 10px;


    .accordionSection{   
        overflow: hidden;    
        cursor: pointer;   
        /* accordion verticale */
        width: 100%;   
        height: 40px;
        max-height: 40px;
        line-height: 40px;
        @include transition(max-height, 2s);

        &:hover{
            background-color:  $blue;
        }

        &:target{
            background: #FFFFFF;   
            /* accordion verticale */
            height: auto;
            max-height: 6000px;
            width: 100%; 

            &:hover{

            }

            .accordionSectionTitle{
                width: 100%;
                position: relative;

                a{
                    background-color: $blue;
                }
            }

            .accordionContent{
                display: block;
            }
        }

        .accordionContent{
            display: none;
            line-height: 1.4;
            margin: 10px 3% 10px 10px;
            cursor: auto;
        }

        .accordionSectionTitle a{
            display: block;
            padding-left: 10px;
            font-size: 1.6rem;
            color: #FFFFFF;
            background-color: $turquoise;
            @include transition(background-color, 0.3s);

            &:hover{
                background-color: $blue;
            }
        }
    }  

}

/* LEFT COL
=============================================================================================== */
#leftCol{

    h1{
        font-family: Laila;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 40px;
        padding: 10px 0;
        background: $blue;
        color: #FFFFFF;
    }

    #searchButtonFilter{
        font-size: 1.8rem;
        color: $turquoise;
        width: auto;
        background: none;
        @include transition(color, 0.3s);

        &:hover{
            color: $orange;
        }
    }

    input[type="text"]{
        display: inline-block;
        background: transparent;
        border-bottom: 1px solid $turquoise;
        border-top: none;
        border-left: none;
        border-right: none;
        color: $primaryTextColor;
        font-size: 1.5rem;
        width: 60%;
        @include transition(border-bottom-color, 0.3s);

        &:focus{
            border-bottom-color: $orange;
            @include transition(border-bottom-color, 0.3s);
        }
    }

    .selectContainer{
        padding-left: 0;
        position: relative;

        &.singleSelection{
            width: 80%;
            overflow: hidden;

            &:after{
                position: absolute;
                right: 0;
                top: 0;
                line-height: 2; /* per piazzarla al centro verticalmente */
                color: $turquoise;
                border-right: 1px solid $turquoise;
                font-family: 'ElegantIcons';
                font-size: 1.5rem;
                content: '\43';
                pointer-events: none; /* per far aprire la select anche cliccando sulla freccia */
            }

            select{
                padding: 5px;
                @include borderRadius(5px);
                border: 1px solid $turquoise;
                width: 120%; /* in questo modo facciamo sforare la freccia della select che viene tagliata da overflow: hidden */
                cursor: pointer;
            }

            optgroup{
                width: 99%;
                border-right: 1px solid black;
            }
        }

        &.multipleSelection{
            width: 80%;

            select{
                border: 1px solid $turquoise;
                width: 100%;

                optgroup{
                    color: $turquoise;

                    option{ /* su chrome non funziona */
                        color: #000000;
                        padding: 3px 4px; 

                        &:before{
                            font-family: 'ElegantIcons';
                            content: "\4e";
                            color: #FFFFFF;
                            margin-right: 5px;
                            opacity: 0;
                            @include transition(opacity, 0.3s);
                        }

                        &:checked{

                            &:before{
                                opacity: 1;
                            }
                        }
                    }
                }
            }

        }
    }

    /* nascondiamo la checkbox originale */
    input[type="checkbox"]{
        position: absolute;
        left: -9999px;

        & + label{
            position: relative;
            cursor: pointer;
            font-size: 1.5rem;
        }

        &:checked + label:before{
            font-family: 'ElegantIcons';
            content: '\5a';
            margin-right: 10px;
            position: relative;
            top: 5px;
            font-size: 2.5rem;
            color: $turquoise;
        }

        &:not(:checked) + label:before{
            font-family: 'ElegantIcons';
            content: '\56';
            margin-right: 10px;
            position: relative;
            top: 5px;
            font-size: 2.5rem;
            color: $turquoise;
        }
    }

    input[type="date"]{
        padding: 5px;
        width: 75%;
        @include borderRadius(5px);
        border: 1px solid $turquoise;
        /* DA FARE!!! */
        /* è impossibile fare il date picker senza JS xD */
    }

    input[type="radio"]{

        position: absolute;
        left: -9999px;

        & + label{
            position: relative;
            cursor: pointer;
            font-size: 1.5rem;
        }

        &:checked + label:before{
            font-family: 'ElegantIcons';
            content: '\5c';
            margin-right: 10px;
            position: relative;
            top: 5px;
            font-size: 2.5rem;
            color: $turquoise;
        }

        &:not(:checked) + label:before{
            font-family: 'ElegantIcons';
            content: '\5b';
            margin-right: 10px;
            position: relative;
            top: 5px;
            font-size: 2.5rem;
            color: $turquoise;
        }
    }

    button{
        width: 80%;
        height: 30px;
        line-height: 30px;
        font-size: 1.5rem;
    }
}

/* TOPBAR
=============================================================================================== */
#topBarPlaceholder{
    height: $topBarHeight;
}

#topBar{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $topBarHeight;
    line-height: $topBarHeight;
    background: #333333;
    color: $skyBlue;
    padding: 0 1%;

    #adminSettings{
        float: left;
        margin-left: -1%;
        margin-right: 10px;


        a{
            font-size: 3rem;
            color: #FFFFFF;
            display: block;
            padding: 0 10px;
            cursor: pointer;
            @include transition(background-color, 0.3s);


            &:hover{
                background-color: $orange;
            }
        }
    }

    .imgContainer{
        width: $topBarHeight;
        height: $topBarHeight;
        float: left;
        margin-right: 10px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    #LogIn{
        float: right;
        padding: 0 20px 2px 20px; /* 2px bottom per dare l'impressione che il bottone sia agganciato alla topbar */
        margin: 0;
        line-height: $topBarHeight;
        border: none;
        font-size: 1.5rem;
        color: white;
        background: $turquoise;
        cursor: pointer;
        @include transition(background, 0.3s);

        &:hover{
            background: $orange;
            @include transition(background, 0.3s);
        }

    }

    #LogOut{
        @extend #LogIn;
    }

    #menu{

        ul{

            li{
                color: #FFFFFF;
                float: left;
                font-size: 1.6rem;

                @include transition(background, 0.3s);

                a{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    padding: 0 10px;
                    color: #FFFFFF;
                    @include transition(background, 0.3s);

                    &:hover{
                        background: $orange;
                        @include transition(background, 0.3s);
                    }

                    &.active{
                        background: $orange;
                    }
                }


            }
        }
    }

    #search{
        float: right;
        margin-right: 20px;

        #searchSpan{
            float: left;
            margin-right: 10px;
            font-size: 2.7rem;
            line-height: $topBarHeight;
            color: $turquoise;
            cursor: pointer;
            @include transition(color, 0.3s);


            &:hover{
                color: $orange;
                @include transition(color, 0.3s);
            }
        }

        #searchForm{
            overflow: hidden;


            input{
                opacity: 0;
                background: transparent;
                border-bottom: 1px solid $turquoise;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-bottom: 3px;
                color: $skyBlue;
                font-size: 1.5rem;
                width: 0;
                @include transition(all, 0.5s);


                &:focus{
                    opacity: 1;
                    border-bottom-color: $orange;
                    width: 200px;
                }
            }

            &:hover{

                input{
                    opacity: 1;
                    width: 200px;
                }
            }
        }
    }

}

/* HEADER
=============================================================================================== */
#outlineHeader{

    #logo{
        background: transparent url('../img/placeholder.jpg') no-repeat;
        background-size: cover;
        height: 300px;
    }
}

/* BODY
=============================================================================================== */
#outlineBody{
    padding: 25px 0;
}

/* FOOTER
=============================================================================================== */
#outlineFooter{
    background: #333333;
    color: $skyBlue;
    font-size: 150%;
    padding: 1%;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 0;

    h1{
        margin-bottom: 10px;
        color: #FFFFFF;
        font-weight: bold;
    }

    p{
        margin-bottom: 10px;
    }

    a{


        &:before{
            margin-right: 10px;
        }

    }

    #footerImage{


        img{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    #social{

        li{
            margin-bottom: 10px;
        }

        #facebook{

            &:hover:before{
                color: #3B5998; /* blu di facebook */
            }
        }

        #twitter{

            &:hover:before{
                color: #00ACED; /* azzurro di twitter */
            }
        }

        #linkedIn{

            &:hover:before{
                color: #FFFFFF; /* bianco di linked in */
            }
        }

        #googlePlus{

            &:hover:before{
                color: #dd4b39; /* rosso google+ */
            }
        }
    }

    #googlePlay{
        display: inline-block;

        &:hover{

        }


        &:after{
            content: ' ';
            background: transparent url('../img/google_play.png') no-repeat center center;
            background-size: contain;
            height: 50px;
            width: 50px;
            display: block;
            overflow: hidden;
            margin: 10px auto;
            opacity: 0.3;
            @include transition(opacity, 0.3s);
        }

        &:hover:after{
            opacity: 1;
            @include transition(opacity, 0.3s);
        }

    }

}

/* NEWS LIST PAGE
=============================================================================================== */
#newsFilter{

    div{
        margin-bottom: 50px;
        padding-left: 10%;
    }
}

#newsSorting{

    div{
        margin-bottom: 20px;
        padding-left: 10%;
    }
}

#newsList{

    .news{
        padding: 5px;
        @include boxShadow(0, 0, 3px, $turquoise);
        margin-bottom: 10px;
        width: 31%;

        .head{
            position: relative;
            text-align: center;
            margin-bottom: 15px;


            a.right {
                position: absolute;
                right: 5%;
                font-size: 2.5rem;
            }

            .center{
                font-family: Laila;
                display: inline-block;
                font-size: 2rem;
                margin-top: 5px;
            }
        }

        .body{

            p{
                text-align: center;
                font-size: 1.4rem;
                color: $primaryTextColor;
                line-height: 2rem;
                margin-bottom: 10px;
            }
        }

        .footer{
            font-size: 1.2rem;
            overflow: hidden;
            color: $secondaryTextColor;

            .left{
                float: left;
            }

            .right{
                float: right;

                .like{
                    margin-right: 10px;

                    &:before{
                        margin-right: 3px;
                        color: #33cc00;
                    }
                }

                .dislike{

                    &:before{
                        margin-right: 3px;
                        color: #cc0000;
                    }
                }
            }
        }

    }
}

/* SERIES LIST PAGE
=============================================================================================== */

#seriesFilter{

    div{
        margin-bottom: 50px;
        padding-left: 10%;
    }
}

#SeriesSorting{

    div{
        margin-bottom: 20px;
        padding-left: 10%;
    }
}

#seriesList{

    .seriesBox{
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        background: transparent url('../img/placeholder.jpg') no-repeat;
        background-size: cover;
        @include boxShadow(0, 0, 3px, $turquoise);

        a{
            display: inline-block;
            width: 100%;
            height: 100%;

            &:hover{

                &  img{
                    @include transform(scale(1.3) rotate(5deg));

                }

                & > .seriesDescription{
                    max-height: 25px;
                    @include transition(max-height, 0.5s);

                    & > h1{
                        opacity: 1;
                        @include transition(opacity, 0.8s);
                    }
                }
            }



            .imgContainer{
                display: inline-block;
                width: 100%;
                height: 135px;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    @include transition(all, 0.5s);
                }
            }

            .seriesDescription{
                background-color: rgba(0, 0, 0, 0.7);
                height: 25px;
                line-height: 25px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                max-height: 0px;
                @include transition(max-height, 0.5s);


                h1{
                    font-family: Laila;
                    color: #FFFFFF;
                    font-size: 1.5rem;
                    opacity: 0;
                    @include transition(opacity, 0.8s);
                }
            }
        }
    }
}

/* SERIES CARD PAGE
=============================================================================================== */
#seriesCard{
    position: relative;
    top: -35px; /* perché vogliamo che non ci sia il margine tra logo e contenuto */
    margin-bottom: 30px;

    h2{
        text-align: center;
        font-family: Laila;
        color: $turquoise;
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .imgSeriesContainer{
        background: transparent url('../img/placeholder.jpg') no-repeat;
        background-size: cover;
        min-height: 300px;
        width: 100%;
        text-align: center;
        position: relative;

        h1{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100px;
            line-height: 100px;
            background-color: rgba(0, 0, 0, 0.6);
            text-align: center;
            font-family: Laila;
            color: rgba(255, 255, 255, 0.9);
            font-size: 4rem;
        }

        img{
            width: 100%;
            height: auto;
        }
    }

    #buttons{
        margin-bottom: 60px;
        text-align: center;

        a{
            margin: 0;
            display: inline-block;
            width: 33%;
            background-color: $turquoise;
            word-wrap: break-word;
            color: #FFFFFF;
            font-size: 1.5rem;
            height: 60px;
            line-height: 60px;
            @include transition(background-color, 0.3s);

            &:hover{
                background-color: $orange;
            }

            &.fullPage{
                margin: auto;
                display: block;
                width: 99.3%;
                margin-top: 5px;
            }
        }
    }

    #seriesDescription{
        margin: 0 auto 50px auto;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.4;
        width: 90%;
        color: $primaryTextColor;
    }

    #genreList{
        text-align: center;
        margin-bottom: 50px;

        li{
            display: inline;
            color: #FFFFFF;
            background-color: $orange;
            @include borderRadius(100px);
            padding: 5px 10px;
            font-size: 1.3rem;
        }
    }

    #seasonList{
        margin-bottom: 50px;
    }

    .episode{
        border-bottom: 1px solid rgba(22, 149, 163, 0.6);

        &:last-of-type{
            border-bottom: none;
        }

        h4{
            font-size: 1.5rem;
            margin-bottom: 10px;
            border-left: 3px solid $orange;
            color: $turquoise;
            padding-left: 10px;
        }

        p{
            border-left: 3px solid $turquoise;
            color: $primaryTextColor;
            font-size: 1.3rem;
            margin-bottom: 10px;
            padding-left: 10px;
        }
    }
}

#commentsList{

    .comment{
        margin: 0 3%;
        padding: 25px 0;
        border-bottom: 1px solid rgba(22, 149, 163, 0.4);

        &:last-of-type{ /* l'ultimo elemento che ha classe comment */
            border-bottom: none;
        }
    }

    .imgContainer{
        display: inline-block;
        width: 75px;
        height: 75px;

        img{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    .header{

        h1{
            font-family: Laila;
            margin-bottom: 10px;
            font-size: 1.7rem;
            color: $turquoise;
        }

    }

    .body{

        p{
            color: $primaryTextColor;
            font-size: 1.5rem;
            line-height: 1.4;
            margin-bottom: 10px;
        }
    }

    .footer{
        font-size: 1.2rem;
        overflow: hidden;
        color: $secondaryTextColor;

        .left{
            float: left;
        }

        .right{
            float: right;

            a{
                color: $secondaryTextColor;
            }

            .like{
                margin-right: 10px;

                &:before{
                    margin-right: 3px;
                    @include transition(color, 0.3s);
                }

                &:hover:before{
                    color: #33cc00;
                }
            }

            .dislike{

                &:before{
                    margin-right: 3px;
                    @include transition(color, 0.3s);
                }

                &:hover:before{
                    color: #cc0000;
                }
            }
        }
    }
}

/* NEWS CARD PAGE
=============================================================================================== */
#newsCard{

    h1.newstitle{
        text-align: center;
        font-family: Laila;
        color: $turquoise;
        font-size: 4rem;
        margin-bottom: 20px;
    }

    h2{
        text-align: center;
        font-family: Laila;
        color: $turquoise;
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .newsImgContainer{
        width: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;
        margin-bottom: 40px;

        img{
            max-width: 100%;
            height: auto;
        }
    }

    #newsText{
        margin: 0 3% 10px 3%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.4;
        color: $primaryTextColor;
    }

    .footer{
        margin: 0 3% 30px 3%;
        font-size: 1.2rem;
        overflow: hidden;
        color: $secondaryTextColor;

        .left{
            float: left;
        }

        .right{
            float: right;

            a{
                color: $secondaryTextColor;
            }

            .authorAndDate{
                margin-bottom: 5px;
            }

            .like{
                margin-right: 10px;

                &:before{
                    margin-right: 3px;
                    @include transition(color, 0.3s);
                }

                &:hover:before{
                    color: #33cc00;
                }
            }

            .dislike{

                &:before{
                    margin-right: 3px;
                    @include transition(color, 0.3s);
                }

                &:hover:before{
                    color: #cc0000;
                }
            }
        }
    }
}

/* SERIES CIRCLE PAGE
=============================================================================================== */
#seriesCircle{
    position: relative;
    top: -35px; /* perché vogliamo che non ci sia il margine tra logo e contenuto */

    .imgSeriesContainer{
        background: transparent url('../img/placeholder.jpg') no-repeat;
        background-size: cover;
        min-height: 300px;
        width: 100%;
        text-align: center;
        position: relative;
        margin-bottom: 60px;

        h1{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100px;
            line-height: 100px;
            background-color: rgba(0, 0, 0, 0.6);
            text-align: center;
            font-family: Laila;
            color: rgba(255, 255, 255, 0.9);
            font-size: 4rem;
        }

        img{
            width: 100%;
            height: auto;
        }
    }
}

/* LOGIN
=============================================================================================== */
#formLogIn{
    height: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 40%;

    #signUp{
        text-align: right;
        color: $primaryTextColor;
        font-size: 1.3rem;
        margin-top: 10px;
    }
}

/* SIGNUP
=============================================================================================== */
#formSignUp{
    height: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 40%;
}

/* PROFILO UTENTE
===============================================================================================
=============================================================================================== */
#userProfile{

    #userImageAndUsername{
        margin-top: 20px;
        padding-left: 10%;

        .imgContainer{
            margin: 0 auto 20px auto;
            width: 150px;
            height: 150px;
            overflow: hidden;

            img{
                max-width: 100%;
                height: auto;
            }
        }

        #userUsername{
            text-align: center;
            font-size: 2rem;
            color: $blue;
            font-family: Laila;
        }
    }

    nav{

        li{
            font-size: 1.5rem;
            margin-bottom: 20px;
            margin-left: 10%;

            &:last-of-type{
                margin-bottom: 40px;
            }
        }
    }
}

/* USER SERIES PAGE
=============================================================================================== */
#userSeries{
    font-size: 1.2rem;

    .series{
        padding: 5px;
        @include boxShadow(0, 0, 3px, $turquoise);
        margin-bottom: 10px;
        width: 32%;
        text-align: center;

        .head{
            position: relative;
            margin-bottom: 20px;

            a.left, a.right{
                color: $secondaryTextColor;
                font-size: 2.5rem;
                @include transition(color, 0.3s);
            }

            a.left{
                position: absolute;
                left: 0;

                &:hover{
                    color: $skyBlue;
                }
            }

            a.right {
                position: absolute;
                right: 0;

                &:hover{
                    color: #cc0000;
                }
            }

            .center{
                display: inline-block;
                font-size: 2rem;
                margin-top: 5px;
            }
        }

        .imgContainer{
            position: relative;
            display: inline-block;
            background: transparent url('../img/placeholder.jpg') no-repeat;
            background-size: cover;
            min-height: 100px;
            width: 98%;

            img{
                max-width: 100%;
                height: auto;
                overflow: hidden;
            }

            .ratingBox{
                position: absolute;
                bottom: 5%;
                right: 5%;
                padding: 5px 10px;
                background-color: rgba(255, 255, 255, 0.8);
                @include borderRadius(2px);
                font-size: 1.5rem;
            }
        }

        .mySeriesInfo{

            font-size: 1.4rem;
            color: $primaryTextColor;

            h1{
                display: inline;
            }
        }
    }
}

/* USER BROADCAST PROGRAMMING PAGE
=============================================================================================== */
#userBroadcastProgramming{

    .dayEpisode{
        padding: 5px;
        @include boxShadow(0, 0, 3px, $turquoise);
        margin-bottom: 10px;
        width: 32%;
        text-align: center;

        .head{
            margin-bottom: 10px;

            .center{
                display: inline-block;
                font-size: 2rem;
                margin-top: 5px;
            }
        }

        .imgContainer{
            position: relative;
            display: inline-block;
            width: 98%;

            img{
                max-width: 100%;
                height: auto;
                overflow: hidden;
            }

            .ratingBox{
                position: absolute;
                bottom: 5%;
                right: 5%;
                padding: 5px 10px;
                background-color: rgba(255, 255, 255, 0.8);
                @include borderRadius(2px);
                font-size: 1.5rem;
            }
        }

        .dayEpisodeInfo{
            font-size: 1.4rem;
            color: $primaryTextColor;

            h1{
                display: inline;
            }
        }
    }

    .noEpisode{

        p{
            font-size: 1.5rem;
            color: $primaryTextColor;
        }
    }
}

/* USER SING UP DATA PAGE
=============================================================================================== */
#modifySignUpData{
    width: 70%;
}

/* USER OPTIONAL DATA PAGE
=============================================================================================== */
#optionalData{
    width: 70%;
}

/* USER NOTIFY SETTING PAGE
=============================================================================================== */
#notifySettings{
    width: 70%;

    form{

        fieldset{
            border: 1px solid rgba(22, 149, 163, 0.4);
            padding: 10px 20px;
            @include borderRadius(5px);
            margin-top: 30px;
        }

        input[type="checkbox"]{

            &:not(:checked) ~ fieldset{
                display: none;
            }
        }
    }
}

/* BACK END
===============================================================================================
=============================================================================================== */
#backOutline{
    nav{

        li{
            font-size: 1.5rem;
            margin-bottom: 20px;
            margin-left: 10%;

            &:last-of-type{
                margin-bottom: 40px;
            }
        }
    }

}

/* INSERT NEWS
=============================================================================================== */
#insertNewsForm{
    width: 70%;
}

/* INSERT SERIES
=============================================================================================== */
#insertSeries{
    width: 70%;
}

/* INSERT EPISODE
=============================================================================================== */


/* INSERT CHANNEL
=============================================================================================== */
#insertChannel{
    width: 70%;
}

/* INSERT GENRE
=============================================================================================== */
#insertGenre{
    width: 70%;
}

/* INSERT CAST MEMBER
=============================================================================================== */
#insertCastMember{
    width: 70%;
}

/* INSERT GROUP
=============================================================================================== */
#insertGroup{
    width: 70%;
}

/* INSERT SERVICE
=============================================================================================== */
#insertService{
    width: 70%;
}




