<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>REST</title>
        <link rel="stylesheet" href="css/reset.css" type="text/css"/>
        <link rel="stylesheet" href="css/gird.css" type="text/css"/>
        <link rel="stylesheet" href="css/my_style.css" type="text/css"/>
    </head>

    <body>
        <div class="container">

            <div id="topBar" class="row">
                <!-- controllo sulla sessione dell'utente -->
                <#if (sessionUsername??)>
                <p>Welcome, ${sessionUsername}</p>
                <#else>
                <div id="loginForm">
                    <form action="Login" method="POST">
                        <label for="username">Username</label>
                        <input type ="text" id="username" name ="username"/>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password"/>
                        <button type="submit">Invia</button>
                    </form>
                    <a href="Registrazione">Registrati!</a>
                </div>
                </#if>
            </div>

            <div id="header" class="row">
                <!-- sarà sempre lo stesso -->
                <p>LOGO REST</p>
            </div><!-- FINE header -->

            <div id="body" class="row">

                <div id="leftCol" class="four columns">
                    <!-- Sarà sempre la stessa per il front-end -->
                    <div id="nav">
                        <ul>
                            <li><a href="ListaNews">News</a></li>
                            <li><a href="ListaSerie">Serie TV</a></li>
                            <li>Second</li>
                            <li>Third</li>
                        </ul>
                    </div>
                </div><!-- FINE colonna sinistra -->

                <div id="content" class="twelve columns">
                    <!-- Sarà diverso a seconda della pagina in cui siamo -->
                    <#include content_tpl>
                </div><!-- FINE contenuto -->
            </div><!-- FINE body -->


            <div id="footer" class="row">
                <!-- sarà sempre lo stesso -->
                <p>Footer</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div><!-- FINE footer -->
        </div><!-- FINE container body -->
    </body>
</html>
