
<div id="backOutline">
    <div id="leftCol" class="four columns alpha">
        <nav>
            <h1>Gestici News</h1>
            <ul>
                <li><a href="GestioneNews">Inserisci news</a></li>
            </ul>

            <h1>Gestici Serie</h1>
            <ul>
                <li><a href="GestioneSerie?sezione=1">Inserisci serie</a></li>
                <li><a href="GestioneSerie?sezione=2">Inserisci episodio</a></li>
                <li><a href="GestioneSerie?sezione=3">Inserisci canale</a></li>
                <li><a href="GestioneSerie?sezione=4">Inserisci genere</a></li>
                <li><a href="GestioneSerie?sezione=5">Inserisci membro del cast</a></li>
                <li><a href="GestioneSerie?sezione=6">Associa membro del cast e serie</a></li>
                <li><a href="GestioneSerie?sezione=7">Associa canale e episodio</a></li>
                <li><a href="GestioneSerie?sezione=8">Associa genere e serie</a></li>
                <li><a href="MiaProva">Rimuovi episodio</a></li>
            </ul>

            <h1>Gestisci Utenti</h1>
            <ul>
                <li><a href="GestioneUtenti?sezione=1">Inserisci gruppo</a></li>
                <li><a href="GestioneUtenti?sezione=2">Inserisci servizio</a></li>
                <li><a href="GestioneUtenti?sezione=3">Associa servizio e gruppo</a></li>
            </ul>
        </nav>
    </div>


    <div id="backContent" class='twelve columns omega'>
        <#include backContent_tpl>
    </div>

</div>
