
<div id="backOutline">
    <div id="leftCol" class="four columns alpha">
        <nav>
            <h1 class="section title">Gestici News</h1>
            <h2 class="subSection title">Aggiungi</h2>
            <ul>
                <li><a href="GestioneNews?sezione=1">News</a></li>
            </ul>

            <h2 class="subSection title">Rimuovi</h2>
            <ul>
                <li><a href="GestioneNews?sezione=2">News</a></li>
            </ul>

            <h1 class="section title">Gestici Serie</h1>
            <h2 class="subSection title">Aggiungi</h2>
            <ul>
                <li><a href="GestioneSerie?sezione=1">Serie</a></li>
                <li><a href="GestioneSerie?sezione=2">Episodio</a></li>
                <li><a href="GestioneSerie?sezione=3">Canale</a></li>
                <li><a href="GestioneSerie?sezione=4">Genere</a></li>
                <li><a href="GestioneSerie?sezione=5">Membro del cast</a></li>
                <li><a href="GestioneSerie?sezione=6">Associazione membro del cast e serie</a></li>
                <li><a href="GestioneSerie?sezione=7">Associazione canale e episodio</a></li>
                <li><a href="GestioneSerie?sezione=8">Associazione genere e serie</a></li>

            </ul>

            <h2 class="subSection title">Rimuovi</h2>
            <ul>
                <li><a href="GestioneSerie?sezione=9">Serie</a></li>
                <li><a href="GestioneSerie?sezione=10">Episodio</a></li>
                <li><a href="GestioneSerie?sezione=11">Canale</a></li>
                <li><a href="GestioneSerie?sezione=12">Genere</a></li>
                <li><a href="GestioneSerie?sezione=13">Membro del cast</a></li>
                <li><a href="GestioneSerie?sezione=14">Associazione membro del cast e serie</a></li>
                <li><a href="GestioneSerie?sezione=15">Associazione canale e episodio</a></li>
                <li><a href="GestioneSerie?sezione=16">Associazione genere e serie</a></li>
            </ul>

            <h1 class="section title">Gestisci Utenti</h1>
            <h2 class="subSection title">Aggiungi</h2>
            <ul>
                <li><a href="GestioneUtenti?sezione=1">Gruppo</a></li>
                <li><a href="GestioneUtenti?sezione=2">Servizio</a></li>
                <li><a href="GestioneUtenti?sezione=3">Associazione servizio e gruppo</a></li>
            </ul>

            <h2 class="subSection title">Rimuovi</h2>
            <ul>
                <li><a href="GestioneUtenti?sezione=4">Gruppo</a></li>
                <li><a href="GestioneUtenti?sezione=5">Servizio</a></li>
                <li><a href="GestioneUtenti?sezione=6">Associazione servizio e gruppo</a></li>
            </ul>

        </nav>
    </div>


    <div id="backContent" class='twelve columns omega'>
        <#include backContent_tpl>
    </div>

</div>
