
<div id='insertServiceGroup' class='formContainer'>
    <#if ((services?size > 0) && (groups?size > 0))>
    <form action="GestioneUtenti" method="POST">
        <input type="hidden" name="sezione" value="3" />
        <div class="row mySelectContainer">
            <div class="mySingleSelect">
                <input type="checkbox" id="serviceSelect" class="mySingleSelectArrow" />
                <label for="serviceSelect"></label>
                <div class="mySingleSelectOption">
                    <input type="radio" name="service" id="noService" checked="checked" value="0" />
                    <label for="noService">Nessun servizio</label>
                    <#list services as s>
                    <input type="radio" name="service" id="service_${s_index}" value="${s.ID}" />
                    <label for="service_${s_index}">${strip_slashes(s.name)?html}</label>
                    </#list>
                </div>
            </div>
        </div>
        <div class="row mySelectContainer">
            <div class="mySingleSelect">
                <input type="checkbox" id="groupSelect" class="mySingleSelectArrow" />
                <label for="groupSelect"></label>
                <div class="mySingleSelectOption">
                    <input type="radio" name="group" id="noGroup" checked="checked" value="0" />
                    <label for="noGroup">Nessun gruppo</label>
                    <#list groups as g>
                    <input type="radio" name="group" id="group_${g_index}" value="${g.ID}" />
                    <label for="group_${g_index}">${strip_slashes(g.name)?html}</label>
                    </#list>
                </div>
            </div>
        </div>
        <button type="submit" name="isg" value="1">Salva</button>
    </form>
    <#else>
    <div class="noOption">
        <#if ((services?size <= 0) && (groups?size <= 0))>
        <p>Non ci sono nè servizi nè gruppi da poter associare</p>
        <#else>
        <#if (services?size <= 0)>
        <p>Non ci sono servizi da poter associare ai gruppi</p>
        <#else>
        <p>Non ci sono gruppi da poter associare ai servizi</p>
        </#if>
        </#if>
    </div>
    </#if>
</div>
