
<div id="insertNews" class="formContainer">
    <form action="GestioneNews" method="POST">
        <div class="row">
            <input name="newsTitle" type="text" maxlength="60" placeholder="Titolo news" required="required" tabindex="1" />
        </div>
        <div class="row">
            <textarea name="newsText" rows="10" placeholder="Inserisci qui il testo della news" required="required" tabindex="2" ></textarea>
        </div>
        <div class="row">
            <input type="url" name="newsImageURL" placeholder="URL immagine" tabindex="3" />
        </div>
        <div class="row selectContainer multipleSelection">
            <select name="series" multiple="multiple" size="7">
                <optgroup label="Scegli le serie associate alla news">
                    <#list series as s>
                    <option value="${s.ID}">${strip_slashes(s.name)?html}</option>
                    </#list>
                </optgroup>
            </select>
        </div>
        <button type="submit" name="in" value="1">Aggiungi la news</button>
    </form>
</div>

