
<div id='removeSeries' class="formContainer">
    <form action="GestioneSerie" method="POST">
        <input type="hidden" name="sezione" value="9" />
        <#if (series?size > 0)>
        <div class='row mySelectContainer'>
            <h1>Seleziona le serie da eliminare</h1>
            <div class="myMultipleSelect">
                <#list series as s>
                <div class="row">
                    <input type="checkbox" name="series" id="series_${s_index}" value="${s.ID}" />
                    <label for="series_${s_index}">${strip_slashes(s.name)?html}</label>
                </div>
                </#list>
            </div>
        </div>
        <button type="submit" name="rs" value="1">Rimuovi serie</button>
        <#else>
        non ci sono serie da rimuovere
        </#if>
    </form>
</div>
