
<div id='removeChannel' class="formContainer">
    <form action="GestioneSerie" method="POST">
        <input type="hidden" name="sezione" value="11" />
        <#if (channels?size > 0)>
        <div class='row mySelectContainer'>
            <h1>Seleziona i canali da eliminare</h1>
            <div class="myMultipleSelect">
                <#list channels as c>
                <div class="row">
                    <input type="checkbox" name="channels" id="channel_${c_index}" value="${c.ID}" />
                    <label for="channel_${c_index}">${(c.number)}  ${strip_slashes(c.name)?html}</label>
                </div>
                </#list>
            </div>
        </div>
        <button type="submit" name="rc" value="1">Rimuovi canali</button>
        <#else>
        non ci sono canali da rimuovere
        </#if>
    </form>
</div>