
<div id='removeEpisode' class="formContainer">
    <form action="GestioneSerie" method="POST">
        <input type="hidden" name="sezione" value="9" />
        <#if (episodes?size > 0)>
        <div class='row mySelectContainer'>
            <h1>Seleziona gli episodi da eliminare</h1>
            <div class="mySelect">
                <#list episodes as e>
                <div class="row">
                    <input type="checkbox" name="episode" id="episode_${e_index}" value="${e.ID}" />
                    <label for="episode_${e_index}">[${strip_slashes(e.series.name)?html}] ${e.season}x${e.number} - ${strip_slashes(e.title)?html}</label>
                </div>
                </#list>
            </div>
        </div>
        <button type="submit" name="re" value="1">Rimuovi episodi</button>
        <#else>
        non ci sono episodi da rimuovere
        </#if>
    </form>
</div>
