
<div id='removeNews' class="formContainer">
    <#if (news?size > 0)>
    <form action="GestioneNews" method="POST">
        <input type="hidden" name="sezione" value="2" />
        <div class='row mySelectContainer'>
            <h1>Seleziona le news da eliminare</h1>
            <div class="myMultipleSelect">
                <#list news as n>
                <div class="row">
                    <input type="checkbox" name="news" id="news_${n_index}" value="${n.ID}" />
                    <label for="news_${n_index}">${strip_slashes(n.title)?html}</label>
                </div>
                </#list>
            </div>
        </div>
        <button type="submit" name="rn" value="1">Rimuovi news</button>
    </form>
    <#else>
    <div class='noOption'>
        <p>Non ci sono news da rimuovere</p>
    </div>
    </#if>
</div>
