
<div id='removeGenreSeries' class='formContainer'>
    <#if ((genres?size > 0) && (series?size > 0))>
    <form action="GestioneSerie" method="POST">
        <input type="hidden" name="sezione" value="16" />
        <div class="row mySelectContainer">
            <div class="mySingleSelect">
                <input type="checkbox" id="genreSelect" class="mySingleSelectArrow" />
                <label for="genreSelect"></label>
                <div class="mySingleSelectOption">
                    <input type="radio" name="genre" id="noGenre" checked="checked" value="0" />
                    <label for="noGenre">Nessun genere</label>
                    <#list genres as g>
                    <input type="radio" name="genre" id="genre_${g_index}" value="${g.ID}" />
                    <label for="genre_${g_index}">${strip_slashes(g.name)?html}</label>
                    </#list>
                </div>
            </div>
        </div>
        <div class="row mySelectContainer">
            <div class="mySingleSelect">
                <input type="checkbox" id="seriesSelect" class="mySingleSelectArrow" />
                <label for="seriesSelect"></label>
                <div class="mySingleSelectOption">
                    <input type="radio" name="series" id="noSeries" checked="checked" value="0" />
                    <label for="noSeries">Nessuna serie</label>
                    <#list series as s>
                    <input type="radio" name="series" id="series_${s_index}" value="${s.ID}" />
                    <label for="series_${s_index}">${strip_slashes(s.name)?html}</label>
                    </#list>
                </div>
            </div>
        </div>
        <button type="submit" name="rgs" value="1">Rimuovi associazione</button>
    </form>
    <#else>
    <div class="noOption">
        <#if ((genres?size <= 0) && (series?size <= 0))>
        <p>Non ci sono nè generi nè serie da poter dissociare</p>
        <#else>
        <#if (genres?size <= 0)>
        <p>Non ci sono generi da poter dissociare dalle serie</p>
        <#else>
        <p>Non ci sono serie da poter dissociare dai generi</p>
        </#if>
        </#if>
    </div>
    </#if>
</div>
