<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Per non riscrivere ogni volta la stringa -->
    <context-param>
        <description>
        </description>
        <param-name>data.source</param-name>
        <param-value>java:comp/env/jdbc/REST</param-value>
    </context-param>
    <!-- Per rendere il Connection Pooling globale -->
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>template</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>M &amp; A &amp; M</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>front/outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <listener>
        <listener-class>it.mam.REST.listener.ContextInitializer</listener-class>
    </listener>
    <servlet>
        <servlet-name>NewsList</servlet-name>
        <servlet-class>it.mam.REST.controller.front.NewsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesList</servlet-name>
        <servlet-class>it.mam.REST.controller.front.SeriesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesCard</servlet-name>
        <servlet-class>it.mam.REST.controller.front.SeriesCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesCircle</servlet-name>
        <servlet-class>it.mam.REST.controller.front.SeriesCircle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>it.mam.REST.controller.front.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>it.mam.REST.controller.front.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsCard</servlet-name>
        <servlet-class>it.mam.REST.controller.front.NewsCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCommentNews</servlet-name>
        <servlet-class>it.mam.REST.controller.back.ZZZ_SaveCommentNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCommentSeries</servlet-name>
        <servlet-class>it.mam.REST.controller.back.ZZZ_SaveCommentSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>it.mam.REST.controller.front.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>it.mam.REST.controller.front.MyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileEdit</servlet-name>
        <servlet-class>it.mam.REST.controller.front.MyProfileEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesManagement</servlet-name>
        <servlet-class>it.mam.REST.controller.back.SeriesManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsManagement</servlet-name>
        <servlet-class>it.mam.REST.controller.back.NewsManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersManagement</servlet-name>
        <servlet-class>it.mam.REST.controller.back.UsersManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiaProva</servlet-name>
        <servlet-class>it.mam.REST.controller.MiaProva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsList</servlet-name>
        <url-pattern>/ListaNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesList</servlet-name>
        <url-pattern>/ListaSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesCard</servlet-name>
        <url-pattern>/SchedaSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesCircle</servlet-name>
        <url-pattern>/CerchiaSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsCard</servlet-name>
        <url-pattern>/SchedaNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCommentNews</servlet-name>
        <url-pattern>/SalvaCommentoNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCommentSeries</servlet-name>
        <url-pattern>/SalvaCommentoSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/ProfiloPersonale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileEdit</servlet-name>
        <url-pattern>/ModificaProfiloPersonale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesManagement</servlet-name>
        <url-pattern>/GestioneSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsManagement</servlet-name>
        <url-pattern>/GestioneNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersManagement</servlet-name>
        <url-pattern>/GestioneUtenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MiaProva</servlet-name>
        <url-pattern>/MiaProva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Qui inseriamo il riferimento alla risorsa (vedi il tag <Resource> in context.xml in "META-INF")  -->
    <welcome-file-list>
        <welcome-file>ListaNews</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/REST</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
