<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Per non riscrivere ogni volta la stringa -->
    <context-param>
        <description>
        </description>
        <param-name>data.source</param-name>
        <param-value>java:comp/env/jdbc/REST</param-value>
    </context-param>
    <!-- Per rendere il Connection Pooling globale -->
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>template</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>M &amp; A &amp; M</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>front/outline.ftl.html</param-value>
    </context-param>
    <listener>
        <listener-class>it.mam.REST.listener.ContextInitializer</listener-class>
    </listener>
    <servlet>
        <servlet-name>NewsList</servlet-name>
        <servlet-class>it.mam.REST.controller.front.NewsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesList</servlet-name>
        <servlet-class>it.mam.REST.controller.front.SeriesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesCard</servlet-name>
        <servlet-class>it.mam.REST.controller.front.SeriesCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesCircle</servlet-name>
        <servlet-class>it.mam.REST.controller.front.SeriesCircle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNews</servlet-name>
        <servlet-class>it.mam.REST.controller.back.InsertNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNews</servlet-name>
        <servlet-class>it.mam.REST.controller.back.SaveNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.mam.REST.controller.front.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>it.mam.REST.controller.back.SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSeries</servlet-name>
        <servlet-class>it.mam.REST.controller.back.InsertSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSeries</servlet-name>
        <servlet-class>it.mam.REST.controller.back.SaveSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsCard</servlet-name>
        <servlet-class>it.mam.REST.controller.front.NewsCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCastMember</servlet-name>
        <servlet-class>it.mam.REST.controller.back.InsertCastMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCastMember</servlet-name>
        <servlet-class>it.mam.REST.controller.back.SaveCastMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInActivate</servlet-name>
        <servlet-class>it.mam.REST.controller.front.activationServlets.LogInActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpActivate</servlet-name>
        <servlet-class>it.mam.REST.controller.front.activationServlets.SignUpActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileActivateUserSeries</servlet-name>
        <servlet-class>it.mam.REST.controller.front.activationServlets.MyProfileActivateUserSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileActivateUserCircles</servlet-name>
        <servlet-class>it.mam.REST.controller.front.activationServlets.MyProfileActivateUserCircles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileActivateUserBroadcastProgramming</servlet-name>
        <servlet-class>it.mam.REST.controller.front.activationServlets.MyProfileActivateUserBroadcastProgramming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileActivateUserSignUpData</servlet-name>
        <servlet-class>it.mam.REST.controller.front.activationServlets.MyProfileActivateUserSignUpData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCommentNews</servlet-name>
        <servlet-class>it.mam.REST.controller.back.SaveCommentNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCommentSeries</servlet-name>
        <servlet-class>it.mam.REST.controller.back.SaveCommentSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChannel</servlet-name>
        <servlet-class>it.mam.REST.controller.back.SaveChannel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEpisode</servlet-name>
        <servlet-class>it.mam.REST.controller.back.InsertEpisode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEpisode</servlet-name>
        <servlet-class>it.mam.REST.controller.back.SaveEpisode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProfileDetails</servlet-name>
        <servlet-class>it.mam.REST.controller.back.AddProfileDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsList</servlet-name>
        <url-pattern>/ListaNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesList</servlet-name>
        <url-pattern>/ListaSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesCard</servlet-name>
        <url-pattern>/SchedaSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesCircle</servlet-name>
        <url-pattern>/CerchiaSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNews</servlet-name>
        <url-pattern>/InserisciNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNews</servlet-name>
        <url-pattern>/SalvaNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SalvaUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSeries</servlet-name>
        <url-pattern>/InserisciSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsCard</servlet-name>
        <url-pattern>/SchedaNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCastMember</servlet-name>
        <url-pattern>/InserisciMembroCast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCastMember</servlet-name>
        <url-pattern>/SalvaMembroCast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSeries</servlet-name>
        <url-pattern>/SalvaSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInActivate</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpActivate</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileActivateUserSignUpData</servlet-name>
        <url-pattern>/ProfiloPersonaleDatiUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileActivateUserSeries</servlet-name>
        <url-pattern>/LeMieSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileActivateUserCircles</servlet-name>
        <url-pattern>/LeMieCerchie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileActivateUserBroadcastProgramming</servlet-name>
        <url-pattern>/IlMioPalinsesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCommentNews</servlet-name>
        <url-pattern>/SalvaCommentoNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCommentSeries</servlet-name>
        <url-pattern>/SalvaCommentoSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChannel</servlet-name>
        <url-pattern>/SalvaCanale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertEpisode</servlet-name>
        <url-pattern>/InserisciEpisodio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEpisode</servlet-name>
        <url-pattern>/SalvaEpisodio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProfileDetails</servlet-name>
        <url-pattern>/AggiungiDettagliProfilo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Qui inseriamo il riferimento alla risorsa (vedi il tag <Resource> in context.xml in "META-INF")  -->
    <welcome-file-list>
        <welcome-file>ListaNews</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/REST</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
