<div id="userBroadcastProgramming">

    <div id="schedule" class='accordion'>
        <#list days as day>
        <div id='Giorno${day_index + 1}' class='day accordionSection'>
            <h1 class='accordionSectionTitle'><a href="#Giorno${day_index + 1}">${day?date?string.short}</a></h1>
            <div class='accordionContent'>
                <#if (schedule[day_index]?size > 0) >
                <#list schedule[day_index] as ce>
                <!-- stampo una riga ogni 3 elementi e se non sono agli ultimi 3 elementi -->
                <#if ((ce_index % 3) == 0) && ((ce_index + 3) <= schedule[day_index]?size)>
                <div class="row">
                    </#if>
                    <div class="dayEpisode column omega">
                        <div class="head row">
                            <h1 class="center"><a href="SchedaSerie?id=${ce.episode.series.ID}">${strip_slashes(ce.episode.series.name)}</a></h1>
                        </div>
                        <div class="imgContainer row">
                            <img src="${strip_slashes(ce.episode.series.imageURL)}" alt="Immagine di ${strip_slashes(ce.episode.series.name)}"/>
                        </div>
                        <div class="dayEpisodeInfo row">
                            <div class="row">
                                <p>${ce.episode.season}x${ce.episode.number} - ${strip_slashes(ce.episode.title)?html}</p>
                            </div>
                            <div class="row">
                                <p>Su ${strip_slashes(ce.channel.name)?html} alle ${ce.date?time} </p>
                            </div>
                        </div>
                    </div>
                    <#if ((ce_index + 1) % 3)  == 0>
                </div>
                </#if>
                </#list>
                <#else>
                <div class='noEpisode'>
                    <p>Non ci sono episodi per questo giorno</p>
                </div>
                </#if>
            </div>
        </div>
        </#list>

    </div>

</div>
