
<div id="userSeries">
    <!-- Controllo se esistono serie preferite per questo utente -->
    <#if (user.series?size > 0)>
    <div id="userSeriesList">
        <!-- se esistono stampiamole tutte -->
        <#list user.series as s>
        <div class="series row">
            <div class="imgContainer two columns">
                <img src="${s.imageURL}" alt="Immagine di ${s.name}"/>
            </div>
            <div class="notImgContainer fourteen columns">
                <div class="header">
                    <h1>${s.name}</h1>
                </div>
            </div>
        </div>    
        </#list>
    </div>
    <#else>
    <!-- altrimenti diciamo che l'utente non ha serie preferite -->
    <div>
        <p>Purtroppo non hai ancora serie aggiunte ai preferiti.</p>
    </div>
    </#if> <!-- FINE STAMPA DELLE SERIE -->
</div>