
<div id="userProfile">
    <div id="userProfileOutlineHeader" class="row">
        <div class="imgContainer">
            <#if user.imageURL??>
            <img id="userAvatar" src="user.imageURL" alt="Avatar di user.username" />
            <#else>
            <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" alt="User avatar placeholder"/>
            </#if>
        </div>
        <p id="userUsername">${user.username}</p>
    </div>

    <div id="userProfileOutlineBody" class="row">
        <nav id="leftCol" class="four columns alpha">
            <h1>Nome Categoria</h1>
            <ul>
                <li><a href="LeMieSerie">Le mie Serie</a></li>
                <li><a href="LeMieCerchie">Le mie Cerchie</a></li>
                <li><a href="IlMioPalinsesto">Palinsesto</a></li>
            </ul>

            <h1>Impostazioni</h1>
            <ul>
                <li>Modifica dati registrazione</li>
                <li>Modifica dati opzionali</li>
                <li>Impostazioni notifiche</li>
            </ul>
        </nav>

        <div id="userProfileContent">
            <#include userProfileContent_tpl>
        </div>
    </div>
</div>
