
<div id='optionalData'>
    <form action="ModificaProfiloPersonale" method="POST">
        <input type="hidden" name="sezione" value="2" />
        <div class="row formInput">
            <#if ( user.name?has_content )>
            <input type ="text" id="name" name ="name" value='${strip_slashes(user.name)?html}' autofocus="autofocus" maxlength="20" placeholder="Nome" pattern="[A-Z][a-z]+" title="Il nome deve essere una sequenza di massimo 20 lettere in cui solo la prima &egrave; maiuscola" tabindex="1" />
            <#else>
            <input type ="text" id="name" name ="name"  autofocus="autofocus" maxlength="20" placeholder="Nome" pattern="[A-Z][a-z]+" title="Il nome deve essere una sequenza di massimo 20 lettere in cui solo la prima &egrave; maiuscola" tabindex="1" />
            </#if>
        </div>
        <div class="row formInput">
            <#if user.surname?has_content>
            <input type="text" id="surname" name="surname" value='${strip_slashes(user.surname)?html}' maxlength="20" placeholder="Cognome" pattern="[A-Z][a-z]+" title="Il cognome deve essere una sequenza di massimo 20 lettere in cui solo la prima &egrave; maiuscola" tabindex="2" />
            <#else>
            <input type="text" id="surname" name="surname" maxlength="20" placeholder="Cognome" pattern="[A-Z][a-z]+" title="Il cognome deve essere una sequenza di massimo 20 lettere in cui solo la prima &egrave; maiuscola" tabindex="2" />
            </#if>
        </div>
        <div class="row formInput">
            <#if (user.age?? && (user.age != 0))>
            <input type="text" id="age" name="age" value='${user.age}' placeholder="Et&agrave;" pattern="[1-9][0-9]" title="questo campo deve essere un numero che va da 10 a 99" tabindex="2" />
            <#else>
            <input type="text" id="age" name="age" placeholder="Et&agrave;" pattern="[1-9][0-9]" title="questo campo deve essere un numero che va da 10 a 99" tabindex="2" />
            </#if>
        </div>
        <div class="row formInput">
            <#if user.imageURL?has_content >
            <input type="url" id="image" value='${strip_slashes(user.imageURL)?html}' name="image" placeholder="URL immagine" tabindex="4" />
            <#else>
            <input type="url" id="image" name="image" placeholder="URL immagine" tabindex="4" />
            </#if>
        </div>
        <div class="row formInput">
            <div class="selectContainer multipleSelection">
                <select name="genres" multiple="multiple" size="7" >
                    <optgroup label="Scegli i tui generi preferiti"> 
                        <#list genres as g>
                        <option value="${g.ID}">${strip_slashes(g.name)?html}</option>
                        </#list>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="row formInput">
            <#if user.gender?has_content >
            <#if strip_slashes(user.gender)?html?upper_case == "M">
            <input type="radio" id="male" name="gender" checked="checked" value='1' tabindex="3" />
            <label for="male"> M</label>
            <input type="radio" id="female" name="gender" value='2' tabindex="3" />
            <label for="female"> F</label>
            <#else>
            <input type="radio" id="male" name="gender" value='1' tabindex="3" />
            <label for="male"> M</label>
            <input type="radio" id="female" name="gender" checked="checked" value='2' tabindex="3" />
            <label for="female"> F</label>
            </#if>
            <#else>
            <input type="radio" id="male" name="gender" value='1' tabindex="3" />
            <label for="male"> M</label>
            <input type="radio" id="female" name="gender" value='2' tabindex="3" />
            <label for="female"> F</label>
            </#if>
        </div>
        <button type="submit" name="modifyOptionalData" value="1">Invia</button>
    </form>

</div>

