@charset "UTF-8";
/* VARIABILI
=============================================================================================== */
/* colori palette */
/* rgba(22, 149, 163, 1) */
/* altro */
/* MIXINS
=============================================================================================== */
/* ANIMAZIONI
=============================================================================================== */
/* FONT
=============================================================================================== */
@font-face {
  font-family: 'OpenSans';
  src: url(../font/OpenSans-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Lato';
  src: url(../font/Lato-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url(../font/Roboto-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Laila';
  src: url(../font/Laila-Regular.ttf) format("truetype"); }
/* REGOLE DI STILE
===============================================================================================
=============================================================================================== */
/* ogni selezione ha sfondo turchese e colore bianco */
::selection {
  color: #FFFFFF;
  background: #1695A3; }

::-moz-selection {
  color: #FFFFFF;
  background: #1695A3; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

input:focus, select:focus {
  outline: none; }

html, body {
  font-family: OpenSans, Verdana, Arial, Helvetica;
  /* pi├╣ in l├á inserire web font e gestire la tipografia in generale */
  font-size: 10px;
  background: #FFFFFF;
  height: 100%; }

a {
  text-decoration: none;
  color: #1695A3;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out; }
  a:hover {
    color: #EB7F00;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out; }
  a:before {
    color: #1695A3;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out; }
  a:before:hover {
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out; }

/* SLIDER
=============================================================================================== */
#slider {
  margin: 60px 0 90px 0;
  width: 100%; }
  #slider #slideshow-wrap {
    display: block;
    height: 320px;
    min-width: 260px;
    max-width: 640px;
    margin: auto;
    border: 6px solid #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px #1695A3;
    -moz-box-shadow: 0px 0px 5px #1695A3;
    box-shadow: 0px 0px 5px #1695A3;
    position: relative;
    /* i finti radio button */
    /* posiziono orizzontalmente le label */
    /* le frecce per scorrere le immagini dello slider */ }
    #slider #slideshow-wrap input[type=radio] {
      position: absolute;
      left: 50%;
      bottom: 15px;
      z-index: 100;
      visibility: hidden;
      /* coloro i le label ( che fingono da radio button ) nel momento in cui il radio button ├¿ attivo */
      /* sposto la lista a seconda dell'immagine che scelgo: */
      /* immagine 1: left: 0 ( in questo modo si visualizza l'immagine 1 ) */
      /* immagine 1: left: -100% ( in questo modo si visualizza l'immagine 2 ) */
      /* etc. */
      /* al click sul bottone compare la giusta freccia a destra */
      /* bottone1/fraccia1 -> freccia2 */
      /* bottone2/freccia2 -> freccia3 */
      /* bottone3/freccia3 -> freccia4 */
      /* bottone4/freccia4 -> freccia5 */
      /* al click sul bottone compare la giusta freccia a sinistra */
      /* bottone2/fraccia2 -> freccia1 */
      /* bottone3/freccia3 -> freccia2 */
      /* bottone4/freccia4 -> freccia3 */
      /* bottone5/freccia5 -> freccia4 */
      /* per fixare la posizione della freccia sinistra */ }
      #slider #slideshow-wrap input[type=radio]#button-1:checked ~ label[for=button-1], #slider #slideshow-wrap input[type=radio]#button-2:checked ~ label[for=button-2], #slider #slideshow-wrap input[type=radio]#button-3:checked ~ label[for=button-3], #slider #slideshow-wrap input[type=radio]#button-4:checked ~ label[for=button-4], #slider #slideshow-wrap input[type=radio]#button-5:checked ~ label[for=button-5] {
        background-color: #EB7F00;
        -webkit-box-shadow: 0px 0px 3px #EB7F00;
        -moz-box-shadow: 0px 0px 3px #EB7F00;
        box-shadow: 0px 0px 3px #EB7F00; }
      #slider #slideshow-wrap input[type=radio]#button-1:checked ~ #slideshow-inner > ul {
        left: 0; }
      #slider #slideshow-wrap input[type=radio]#button-2:checked ~ #slideshow-inner > ul {
        left: -100%; }
      #slider #slideshow-wrap input[type=radio]#button-3:checked ~ #slideshow-inner > ul {
        left: -200%; }
      #slider #slideshow-wrap input[type=radio]#button-4:checked ~ #slideshow-inner > ul {
        left: -300%; }
      #slider #slideshow-wrap input[type=radio]#button-5:checked ~ #slideshow-inner > ul {
        left: -400%; }
      #slider #slideshow-wrap input[type=radio]#button-1:checked ~ .arrows#arrow-2, #slider #slideshow-wrap input[type=radio]#button-2:checked ~ .arrows#arrow-3, #slider #slideshow-wrap input[type=radio]#button-3:checked ~ .arrows#arrow-4, #slider #slideshow-wrap input[type=radio]#button-4:checked ~ .arrows#arrow-5 {
        right: -55px;
        display: block; }
      #slider #slideshow-wrap input[type=radio]#button-2:checked ~ .arrows#arrow-1, #slider #slideshow-wrap input[type=radio]#button-3:checked ~ .arrows#arrow-2, #slider #slideshow-wrap input[type=radio]#button-4:checked ~ .arrows#arrow-3, #slider #slideshow-wrap input[type=radio]#button-5:checked ~ .arrows#arrow-4 {
        left: -55px;
        display: block;
        -webkit-transform: scale(-1);
        -moz-transform: scale(-1);
        transform: scale(-1); }
      #slider #slideshow-wrap input[type=radio]#button-2:checked ~ .arrows#arrow-1 {
        left: -19px; }
      #slider #slideshow-wrap input[type=radio]#button-3:checked ~ .arrows#arrow-2 {
        left: -37px; }
      #slider #slideshow-wrap input[type=radio]#button-5:checked ~ .arrows#arrow-4 {
        left: -73px; }
    #slider #slideshow-wrap label:not(.arrows) {
      position: absolute;
      left: 50%;
      bottom: -45px;
      z-index: 100;
      width: 12px;
      height: 12px;
      background: #1695A3;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      transition: background 0.2s ease-in-out;
      -webkit-transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      cursor: pointer; }
      #slider #slideshow-wrap label:not(.arrows):active {
        bottom: -46px; }
    #slider #slideshow-wrap label[for=button-1] {
      margin-left: -36px; }
    #slider #slideshow-wrap label[for=button-2] {
      margin-left: -18px; }
    #slider #slideshow-wrap label[for=button-4] {
      margin-left: 18px; }
    #slider #slideshow-wrap label[for=button-5] {
      margin-left: 36px; }
    #slider #slideshow-wrap #slideshow-inner {
      width: 100%;
      height: 100%;
      background-color: black;
      overflow: hidden;
      position: relative; }
      #slider #slideshow-wrap #slideshow-inner ul {
        list-style: none;
        height: 100%;
        width: 500%;
        /* perch├¿ la lista contiene 5 immagini, se ne contenesse 7 avrei messo 700% */
        overflow: hidden;
        position: relative;
        left: 0px;
        /* la posiziono alla prima immagine */
        transition: left 0.8s ease-in-out;
        -webkit-transition: left 0.8s ease-in-out;
        -moz-transition: left 0.8s ease-in-out;
        -webkit-animation: slide infinite alternate 60s ease; }
        #slider #slideshow-wrap #slideshow-inner ul li {
          width: 20%;
          /* 20% perch├® la width totale era il 500%, quindi viene il 100%. ma se fosse stata del 1000% (cio├¿ 10 immagini) qui ci andava 10%*/
          height: 320px;
          float: left;
          /* cos├¼ le immagini sono affiancate */
          position: relative; }
          #slider #slideshow-wrap #slideshow-inner ul li img {
            margin: auto;
            width: 100%;
            height: 100%; }
    #slider #slideshow-wrap label.arrows {
      font-size: 5rem;
      color: #1695A3;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      display: none;
      opacity: 0.7;
      cursor: pointer;
      z-index: 1000;
      background-color: transparent;
      transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      text-shadow: 0px 0px 3px #1695A3; }
      #slider #slideshow-wrap label.arrows:hover {
        opacity: 1; }
      #slider #slideshow-wrap label.arrows:active {
        margin-top: -23px; }

/* ACCORDION
=============================================================================================== */
.accordion {
  overflow: hidden;
  padding: 10px; }
  .accordion .accordionSection {
    overflow: hidden;
    cursor: pointer;
    /* accordion verticale */
    width: 100%;
    height: 40px;
    max-height: 40px;
    line-height: 40px;
    transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    -moz-transition: max-height 2s ease-in-out; }
    .accordion .accordionSection:hover {
      background-color: #225378; }
    .accordion .accordionSection:target {
      background: #FFFFFF;
      /* accordion verticale */
      height: auto;
      max-height: 6000px;
      width: 100%; }
      .accordion .accordionSection:target .accordionSectionTitle {
        width: 100%;
        position: relative; }
        .accordion .accordionSection:target .accordionSectionTitle a {
          background-color: #225378; }
      .accordion .accordionSection:target .accordionContent {
        display: block; }
    .accordion .accordionSection .accordionContent {
      display: none;
      line-height: 1.4;
      margin: 10px 3% 10px 10px;
      cursor: auto; }
    .accordion .accordionSection .accordionSectionTitle a {
      display: block;
      padding-left: 10px;
      font-size: 1.6rem;
      color: #FFFFFF;
      background-color: #1695A3;
      transition: background-color 0.3s ease-in-out;
      -webkit-transition: background-color 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out; }
      .accordion .accordionSection .accordionSectionTitle a:hover {
        background-color: #225378; }

/* LEFT COL
=============================================================================================== */
#leftCol {
  margin-top: 25px;
  margin-bottom: 10px;
  /* nascondiamo la checkbox originale */ }
  #leftCol h1 {
    font-family: Laila;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    padding: 10px 0;
    background: #1695A3;
    color: #FFFFFF; }
  #leftCol #searchSpanFilter {
    font-size: 1.8rem;
    color: #1695A3; }
  #leftCol input[type="search"] {
    display: inline-block;
    background: transparent;
    border-bottom: 1px solid #1695A3;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #444444;
    font-size: 1.5rem;
    width: 70%;
    transition: border-bottom-color 0.3s ease-in-out;
    -webkit-transition: border-bottom-color 0.3s ease-in-out;
    -moz-transition: border-bottom-color 0.3s ease-in-out; }
    #leftCol input[type="search"]:focus {
      border-bottom-color: #EB7F00;
      transition: border-bottom-color 0.3s ease-in-out;
      -webkit-transition: border-bottom-color 0.3s ease-in-out;
      -moz-transition: border-bottom-color 0.3s ease-in-out; }
  #leftCol .selectContainer {
    width: 80%;
    overflow: hidden;
    padding-left: 0;
    position: relative; }
    #leftCol .selectContainer:after {
      position: absolute;
      right: 0;
      top: 0;
      line-height: 2;
      /* per piazzarla al centro verticalmente */
      color: #1695A3;
      border-right: 1px solid #1695A3;
      font-family: 'ElegantIcons';
      font-size: 1.5rem;
      content: '\43';
      pointer-events: none;
      /* per far aprire la select anche cliccando sulla freccia */ }
    #leftCol .selectContainer select {
      padding: 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border: 1px solid #1695A3;
      width: 120%;
      /* in questo modo facciamo sforare la freccia della select che viene tagliata da overflow: hidden */
      cursor: pointer; }
  #leftCol input[type="checkbox"] {
    position: absolute;
    left: -9999px; }
    #leftCol input[type="checkbox"] + label {
      position: relative;
      cursor: pointer;
      font-size: 1.5rem; }
    #leftCol input[type="checkbox"]:checked + label:before {
      font-family: 'ElegantIcons';
      content: '\5a';
      margin-right: 10px;
      position: relative;
      top: 5px;
      font-size: 2.5rem;
      color: #1695A3; }
    #leftCol input[type="checkbox"]:not(:checked) + label:before {
      font-family: 'ElegantIcons';
      content: '\56';
      margin-right: 10px;
      position: relative;
      top: 5px;
      font-size: 2.5rem;
      color: #1695A3; }
  #leftCol input[type="date"] {
    padding: 5px;
    width: 75%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #1695A3;
    /* DA FARE!!! */
    /* ├¿ impossibile fare il date picker senza JS xD */ }
  #leftCol input[type="radio"] {
    position: absolute;
    left: -9999px; }
    #leftCol input[type="radio"] + label {
      position: relative;
      cursor: pointer;
      font-size: 1.5rem; }
    #leftCol input[type="radio"]:checked + label:before {
      font-family: 'ElegantIcons';
      content: '\5c';
      margin-right: 10px;
      position: relative;
      top: 5px;
      font-size: 2.5rem;
      color: #1695A3; }
    #leftCol input[type="radio"]:not(:checked) + label:before {
      font-family: 'ElegantIcons';
      content: '\5b';
      margin-right: 10px;
      position: relative;
      top: 5px;
      font-size: 2.5rem;
      color: #1695A3; }

/* TOPBAR
=============================================================================================== */
#topBarPlaceholder {
  height: 50px; }

#topBar {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: #333333;
  color: #ACF0F2;
  padding: 0 1%; }
  #topBar #signUpButton {
    float: right;
    padding: 0 15px;
    margin: 0;
    line-height: 50px;
    border: none;
    font-size: 1.5rem;
    color: white;
    background: #1695A3;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out; }
    #topBar #signUpButton:hover {
      background: #EB7F00;
      transition: background 0.3s ease-in-out;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out; }
  #topBar #menu ul li {
    color: #FFFFFF;
    float: left;
    font-size: 1.6rem;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out; }
    #topBar #menu ul li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      color: #FFFFFF;
      transition: background 0.3s ease-in-out;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out; }
      #topBar #menu ul li a:hover {
        background: #EB7F00;
        transition: background 0.3s ease-in-out;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out; }
      #topBar #menu ul li a.active {
        background: #EB7F00; }
  #topBar #search {
    float: right;
    margin-right: 20px; }
    #topBar #search #searchSpan {
      float: left;
      margin-right: 10px;
      font-size: 2.7rem;
      line-height: 50px;
      color: #1695A3;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      -webkit-transition: color 0.3s ease-in-out;
      -moz-transition: color 0.3s ease-in-out; }
      #topBar #search #searchSpan:hover {
        color: #EB7F00;
        transition: color 0.3s ease-in-out;
        -webkit-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out; }
    #topBar #search #searchForm {
      display: inline-block;
      overflow: hidden;
      transition: width 0.5s ease-in-out;
      -webkit-transition: width 0.5s ease-in-out;
      -moz-transition: width 0.5s ease-in-out; }
      #topBar #search #searchForm input {
        background: transparent;
        border-bottom: 1px solid #1695A3;
        border-top: none;
        border-left: none;
        border-right: none;
        color: #ACF0F2;
        font-size: 1.5rem;
        width: 100%;
        transition: border-bottom-color 0.3s ease-in-out;
        -webkit-transition: border-bottom-color 0.3s ease-in-out;
        -moz-transition: border-bottom-color 0.3s ease-in-out; }
        #topBar #search #searchForm input:focus {
          border-bottom-color: #EB7F00;
          transition: border-bottom-color 0.3s ease-in-out;
          -webkit-transition: border-bottom-color 0.3s ease-in-out;
          -moz-transition: border-bottom-color 0.3s ease-in-out; }
      #topBar #search #searchForm.show {
        width: 200px;
        transition: width 0.5s ease-in-out;
        -webkit-transition: width 0.5s ease-in-out;
        -moz-transition: width 0.5s ease-in-out; }
      #topBar #search #searchForm.hide {
        width: 0; }

/* HEADER
=============================================================================================== */
#outlineHeader #logo {
  background: transparent url("../img/placeholder.jpg") no-repeat;
  background-size: cover;
  height: 300px; }

/* BODY
=============================================================================================== */
/* FOOTER
=============================================================================================== */
#outlineFooter {
  background: #333333;
  color: #ACF0F2;
  font-size: 150%;
  padding: 1%;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 0; }
  #outlineFooter h1 {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: bold; }
  #outlineFooter p {
    margin-bottom: 10px; }
  #outlineFooter a:before {
    margin-right: 10px; }
  #outlineFooter #footerImage img {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  #outlineFooter #social li {
    margin-bottom: 10px; }
  #outlineFooter #social #facebook:hover:before {
    color: #3B5998;
    /* blu di facebook */ }
  #outlineFooter #social #twitter:hover:before {
    color: #00ACED;
    /* azzurro di twitter */ }
  #outlineFooter #social #linkedIn:hover:before {
    color: #FFFFFF;
    /* bianco di linked in */ }
  #outlineFooter #social #googlePlus:hover:before {
    color: #dd4b39;
    /* rosso google+ */ }
  #outlineFooter #googlePlay {
    display: inline-block; }
    #outlineFooter #googlePlay:after {
      content: ' ';
      background: transparent url("../img/google_play.png") no-repeat center center;
      background-size: contain;
      height: 50px;
      width: 50px;
      display: block;
      overflow: hidden;
      margin: 10px auto;
      opacity: 0.3;
      transition: opacity 0.3s ease-in-out;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out; }
    #outlineFooter #googlePlay:hover:after {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out; }

/* NEWS LIST PAGE
=============================================================================================== */
#newsFilter div {
  margin-bottom: 50px;
  padding-left: 10%; }

#newsSorting div {
  margin-bottom: 20px;
  padding-left: 10%; }

#newsList .news {
  padding: 25px 0;
  border-bottom: 1px solid rgba(22, 149, 163, 0.4); }
  #newsList .news:last-of-type {
    /* l'ultimo elemento che ha classe news */
    border-bottom: none; }
#newsList .imgContainer {
  display: inline-block;
  width: 75px;
  height: 75px; }
  #newsList .imgContainer img {
    width: 100%;
    height: 100%;
    overflow: hidden; }
#newsList .header h1 {
  font-family: Laila;
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: #1695A3; }
#newsList .body p {
  color: #444444;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 10px; }
#newsList .footer {
  font-size: 1.2rem;
  overflow: hidden;
  color: #999999; }
  #newsList .footer .left {
    float: left; }
  #newsList .footer .right {
    float: right; }
    #newsList .footer .right .like {
      margin-right: 10px; }
      #newsList .footer .right .like:before {
        margin-right: 3px;
        transition: color 0.3s ease-in-out;
        -webkit-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out; }
      #newsList .footer .right .like:hover:before {
        color: #33cc00; }
    #newsList .footer .right .dislike:before {
      margin-right: 3px;
      transition: color 0.3s ease-in-out;
      -webkit-transition: color 0.3s ease-in-out;
      -moz-transition: color 0.3s ease-in-out; }
    #newsList .footer .right .dislike:hover:before {
      color: #cc0000; }

/* SERIES LIST PAGE
=============================================================================================== */
#seriesFilter div {
  margin-bottom: 50px;
  padding-left: 10%; }

#SeriesSorting div {
  margin-bottom: 20px;
  padding-left: 10%; }

#seriesList {
  margin-top: 25px;
  margin-bottom: 25px; }
  #seriesList .seriesBox {
    margin-bottom: 30px;
    text-align: center;
    position: relative; }
    #seriesList .seriesBox a {
      display: inline-block;
      width: 100%;
      height: 100%; }
      #seriesList .seriesBox a:hover img {
        -webkit-transform: scale(1.3) rotate(5deg);
        -moz-transform: scale(1.3) rotate(5deg);
        transform: scale(1.3) rotate(5deg); }
      #seriesList .seriesBox a:hover > .seriesDescription {
        max-height: 25px;
        transition: max-height 0.5s ease-in-out;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out; }
        #seriesList .seriesBox a:hover > .seriesDescription > h1 {
          opacity: 1;
          transition: opacity 0.8s ease-in-out;
          -webkit-transition: opacity 0.8s ease-in-out;
          -moz-transition: opacity 0.8s ease-in-out; }
      #seriesList .seriesBox a .imgContainer {
        display: inline-block;
        width: 100%;
        height: 135px;
        overflow: hidden; }
        #seriesList .seriesBox a .imgContainer img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out; }
      #seriesList .seriesBox a .seriesDescription {
        background-color: rgba(0, 0, 0, 0.7);
        height: 25px;
        line-height: 25px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 0px;
        transition: max-height 0.5s ease-in-out;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out; }
        #seriesList .seriesBox a .seriesDescription h1 {
          font-family: Laila;
          color: #FFFFFF;
          font-size: 1.5rem;
          opacity: 0;
          transition: opacity 0.8s ease-in-out;
          -webkit-transition: opacity 0.8s ease-in-out;
          -moz-transition: opacity 0.8s ease-in-out; }

/* SERIES CARD PAGE
=============================================================================================== */
#seriesCard {
  position: relative;
  top: -10px;
  /* perch├® vogliamo che non ci sia il margine tra logo e contenuto */
  margin-bottom: 30px; }
  #seriesCard h2 {
    text-align: center;
    font-family: Laila;
    color: #1695A3;
    font-size: 3rem; }
  #seriesCard .imgContainer {
    width: 100%;
    text-align: center;
    position: relative; }
    #seriesCard .imgContainer h1 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100px;
      line-height: 100px;
      background-color: rgba(0, 0, 0, 0.6);
      text-align: center;
      font-family: Laila;
      color: rgba(255, 255, 255, 0.9);
      font-size: 4rem; }
    #seriesCard .imgContainer img {
      width: 100%;
      height: auto; }
  #seriesCard #buttons {
    margin-bottom: 60px;
    text-align: center; }
    #seriesCard #buttons a {
      margin: 0;
      display: inline-block;
      width: 33%;
      background-color: #1695A3;
      word-wrap: break-word;
      color: #FFFFFF;
      font-size: 1.5rem;
      height: 60px;
      line-height: 60px;
      transition: background-color 0.3s ease-in-out;
      -webkit-transition: background-color 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out; }
      #seriesCard #buttons a:hover {
        background-color: #EB7F00; }
      #seriesCard #buttons a.fullPage {
        margin: auto;
        display: block;
        width: 99.3%;
        margin-top: 5px; }
  #seriesCard #seriesDescription {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #444444; }
  #seriesCard .episode {
    border-bottom: 1px solid rgba(22, 149, 163, 0.6); }
    #seriesCard .episode:last-of-type {
      border-bottom: none; }
    #seriesCard .episode h4 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      border-left: 3px solid #EB7F00;
      color: #1695A3;
      padding-left: 10px; }
    #seriesCard .episode p {
      border-left: 3px solid #1695A3;
      color: #444444;
      font-size: 1.3rem;
      margin-bottom: 10px;
      padding-left: 10px; }

#commentsList .comment {
  margin: 0 3%;
  padding: 25px 0;
  border-bottom: 1px solid rgba(22, 149, 163, 0.4); }
  #commentsList .comment:last-of-type {
    /* l'ultimo elemento che ha classe comment */
    border-bottom: none; }
#commentsList .imgContainer {
  display: inline-block;
  width: 75px;
  height: 75px; }
  #commentsList .imgContainer img {
    width: 100%;
    height: 100%;
    overflow: hidden; }
#commentsList .header h1 {
  font-family: Laila;
  margin-bottom: 10px;
  font-size: 1.7rem;
  color: #1695A3; }
#commentsList .body p {
  color: #444444;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 10px; }
#commentsList .footer {
  font-size: 1.2rem;
  overflow: hidden;
  color: #999999; }
  #commentsList .footer .left {
    float: left; }
  #commentsList .footer .right {
    float: right; }
    #commentsList .footer .right .like {
      margin-right: 10px; }
      #commentsList .footer .right .like:before {
        margin-right: 3px;
        transition: color 0.3s ease-in-out;
        -webkit-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out; }
      #commentsList .footer .right .like:hover:before {
        color: #33cc00; }
    #commentsList .footer .right .dislike:before {
      margin-right: 3px;
      transition: color 0.3s ease-in-out;
      -webkit-transition: color 0.3s ease-in-out;
      -moz-transition: color 0.3s ease-in-out; }
    #commentsList .footer .right .dislike:hover:before {
      color: #cc0000; }

/* NEWS CARD PAGE
=============================================================================================== */
#newsCard {
  margin-top: 30px;
  margin-bottom: 30px; }
  #newsCard h1 {
    text-align: center;
    font-family: Laila;
    color: #1695A3;
    font-size: 4rem;
    margin-bottom: 20px; }
  #newsCard .imgContainer {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px; }
    #newsCard .imgContainer img {
      max-width: 100%;
      height: auto; }
  #newsCard #newsText {
    margin: 0 3% 10px 3%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #444444; }
  #newsCard .footer {
    margin: 0 3% 30px 3%;
    font-size: 1.2rem;
    overflow: hidden;
    color: #999999; }
    #newsCard .footer .left {
      float: left; }
    #newsCard .footer .right {
      float: right; }
      #newsCard .footer .right .authorAndDate {
        margin-bottom: 5px; }
      #newsCard .footer .right .like {
        margin-right: 10px; }
        #newsCard .footer .right .like:before {
          margin-right: 3px;
          transition: color 0.3s ease-in-out;
          -webkit-transition: color 0.3s ease-in-out;
          -moz-transition: color 0.3s ease-in-out; }
        #newsCard .footer .right .like:hover:before {
          color: #33cc00; }
      #newsCard .footer .right .dislike:before {
        margin-right: 3px;
        transition: color 0.3s ease-in-out;
        -webkit-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out; }
      #newsCard .footer .right .dislike:hover:before {
        color: #cc0000; }

/* SERIES CIRCLE PAGE
=============================================================================================== */
#seriesCircle {
  position: relative;
  top: -10px;
  /* perch├® vogliamo che non ci sia il margine tra logo e contenuto */ }
  #seriesCircle .imgSeriesContainer {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 60px; }
    #seriesCircle .imgSeriesContainer h1 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100px;
      line-height: 100px;
      background-color: rgba(0, 0, 0, 0.6);
      text-align: center;
      font-family: Laila;
      color: rgba(255, 255, 255, 0.9);
      font-size: 4rem; }
    #seriesCircle .imgSeriesContainer img {
      width: 100%;
      height: auto; }

/*# sourceMappingURL=provando_SASS.css.map */
